<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<?php echo base_url('/public');?>/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo base_url('/public');?>/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="<?php echo base_url('/public');?>/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('/public');?>/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('/public');?>/assets/css/app.css">
    <script src="<?php echo base_url('/public');?>/assets/js/jquery.min.js"></script>


    <style>
        #doc-modal-list .modal {
            border: none !important;
        }
    </style>
     <style>
        .conD1{display: flex;border-bottom: 1px solid #e8e8e8}
        .conD1item{flex: 1}
        .conD1item2{flex: 2}
        .conD1item p, .conD1item h4{margin: .3rem 0}
        .conD1item h4{margin-top: 20px}
        .conD1item span{color: #555};

    </style>
</head>

<body data-type="widgets">
    <script src="<?php echo base_url('/public');?>/assets/js/theme.js"></script>
    <div class="am-g tpl-g">




        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="container-fluid am-cf">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-user-secret page-header-heading-icon"></span> 财务管理 <small> - 支出信息 </small></div>
                    <p class="page-header-description"> 这里合同支出信息 </p>
                </div>
            </div>
            <div class="row-content am-cf">

                <div class="row">
                     <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                             <h4>  合同信息</h4>
                            <div class="conD1">
                                <div class="conD1item">
                                    <p>合同号： <span><?php echo $cont['contract_number'];?></span></p>
                                    <p>合同名称：<span><?php echo $cont['title'];?></span></p>
                                    <?php $cus = get_customer($cont['customer_id']);?>
                                    <p>所属客户：<span><?php echo $cus['title'];?></span></p>
                                    <p>税号：<span><?php echo $cus['tax_on'];?></span></p>
                                    <p>开户银行：<span><?php echo $cus['open_bank'];?></span></p>
                                    <p>账户：<span><?php echo $cus['bank_account'];?></span></p>
                                </div>
                 
                                <div class="conD1item">
                                    <p>合同金额：<span><?php echo $cont['contract_price'];?></span></p>
                                    <p>预估合同金额：<span><?php echo $cont['estimate_price'];?></span></p>
                                    <p>约定评审费：<span><?php echo $cont['review_price'];?></span></p>
                                    <p>约定预付:<span><?php echo $cont['prepay'];?></span></p>
                                </div>
                                <div class="conD1item">
                                    <p>签定人：<span><?php echo get_username($cont['sign_user'])?></span></p>
                                    <p>签订时间：<span><?php echo $cont['sign_date'];?></span></p>
                                    <p>备注：<span><?php echo $cont['remaks'];?></span></p>
                                </div>
                       
                            </div> 
                           
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">支出列表</div>


                            </div>
                            <div class="widget-body  am-fr">


                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <br>
                                                 <a  data-id="<?php echo $contract_id;?>" data-am-modal="{target: '#addUser', closeViaDimmer: 0, width:650}" ><button  type="button" style="font-size: 1.2rem" class="am-btn am-btn-default am-btn-success"    >   <span class="am-icon-plus"></span> 新增</button></a>

                                              <!--    非管理人员 无此按钮
                                                <button type="button" class="am-btn am-btn-default am-btn-warning"><a style="color:#fff" ><span class="am-icon-archive"></span> 审核 </a></button>
                                                -->
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field ">
                                        <span class="am-input-group-btn">
                                          <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                                        </span>
                                    </div>
                                </div>

                                <!-- <div class="am-u-sm-12 "> -->
                                <div class="am-scrollable-horizontal">
                                    <!-- <table  class="am-table am-table-compact am-table-striped tpl-table-black "> -->
                                    <!-- <table class="am-table  am-text-nowrap am-table-striped pl-table-black"> -->
                                    <table class="am-table am-table-bordered am-table-striped am-text-nowrap">

                                        <thead>
                                            <tr>
                                                <th>合同号</th>
                                                <th>支出金额</th>
                                                <th>凭证号</th>
                                                <th>支付日期</th>
                                                <th>报销人</th>
                                                <th>批准人</th>
                                                <th>支付方式</th>
                                                <th>备注</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="doc-modal-list">
                                        <?php foreach($lists as $v):?>
                                            <tr class="gradeX">
                                                
                                                <td> <?php echo ret_contract_number($v['contract_id']);?></td>
                                                
                                                <td class="am-text-middle"><?php echo $v['price'];?></td>
                                                <td class="am-text-middle"><?php echo $v['voucher'];?></td>
                                                <td class="am-text-middle"><?php echo $v['time'];?></td>
                                                <td class="am-text-middle"><?php echo get_username($v['reimbursement']);?></td>

                                                <td class="am-text-middle"><?php echo get_username($v['approval']);?></td>
                                                <td class="am-text-middle"><?php echo $v['receivables'];?></td>
                                                <td class="am-text-middle"><?php echo $v['remaks'];?></td>
                                              

                                                <td class="am-text-middle">
                                                    <div class="tpl-table-black-operation">
                                                        
                                                          <a data-id="<?php echo site_url('/Finance/edit_expenditure/').$v['id'];?>" data-am-modal="{target: '#edit-project-modal', closeViaDimmer: 0, width:600}" class="modal"><i class="am-icon-pencil"></i> 编辑  </a>
                                                        <!-- 非管理人员 无此按钮-->
                                                        <a href="javascript:;" data-id="<?php echo $v['id'];?>" class="delete tpl-table-black-operation-del">
                                                           <i class="am-icon-trash"></i> 删除
                                                        </a>  
                                                        <!-- 非管理人员 无此按钮-->
                                                    </div>
                                                </td>
                                            </tr>
                                        <?php endforeach;?>


                                            <!-- more data -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="am-u-lg-12 am-cf">

                                    <div class="am-fr">
                                        <?php echo $pages;?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="am-modal am-modal-no-btn" tabindex="-1" id="addUser">
            <div class="am-modal-dialog" style="background:rgb(58, 65, 68) !important ">
                <div class="am-modal-hd" style="color:aliceblue  !important"> 新增
                    <a href="javascript: void(0)" class="am-close am-close-spin" style="color:#fff !important" data-am-modal-close>&times;</a>
                </div>
                <div class="am-modal-bd">

                    <iframe src="<?php echo site_url('/Finance/expenditure_add/'.$contract_id);?>"  target="_self" style="height:100vh;width:100%;overflow-y: scroll;"> </iframe>

                </div>
            </div>
        </div>

            <div class="am-modal am-modal-no-btn" tabindex="-1" id="edit-project-modal">
                <div class="am-modal-dialog" style="background:rgb(58, 65, 68) !important ">
                    <div class="am-modal-hd" style="color:aliceblue  !important"> 详细信息
                        <a href="javascript: void(0)" class="am-close am-close-spin" style="color:#fff !important" data-am-modal-close>&times;</a>
                    </div>
                    <div class="am-modal-bd">
    
                        <iframe src="" name="text" target="_self" style="height:100vh;width:100%;overflow-y: scroll;"> </iframe>
    
                    </div>
                </div>
            </div>
            <script>
                    $(function () {
                        $('#doc-modal-list').find('.modal')
                            .on('click', function () {
                                $('iframe').attr('src', $(this).attr("data-id"));
                            });
                    });
            </script>








        <div class="am-modal am-modal-confirm" tabindex="-1" id="my-delete-confirm">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">删除提示</div>
                <div class="am-modal-bd">
                    你确定要删除这条记录吗？
                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                    <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                </div>
            </div>
        </div>


        <script>
            // TODO 删除
            $(function () {
                $('#doc-modal-list').find('.delete').add('#doc-confirm-toggle').
                    on('click', function () {
                        $('#my-delete-confirm').modal({
                            relatedTarget: this,
                            onConfirm: function (options) {
                                var $link = $(this.relatedTarget).one('a');
                                // var msg = $link.length ? '你要删除的链接 ID 为 ' + $link.data('id') :
                                //     'mull';
                                // alert(msg);

                                $.post("<?php echo site_url('/Finance/del_Balance');?>", { id: $link.data('id') }, function (result) {
                                    // $("span").html(result);
                                    if(result == 1){
                                    window.location.reload()
                                    }else{
                                        alert('删除失败！');
                                        window.location.reload()
                                    }
                                });
                            },
                            closeOnConfirm: false,
                            onCancel: function () {
                                // alert('onCancel');
                            }
                        });
                    });
            });
        </script>




        <!-- 弹框结束 -->





    </div>
    </div>
    <script src="<?php echo base_url('/public');?>/assets/js/amazeui.min.js"></script>
    <script src="<?php echo base_url('/public');?>/assets/js/app.js"></script>

</body>

</html>