<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>任务详情</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<?php echo base_url('/public');?>/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo base_url('/public');?>/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="<?php echo base_url('/public');?>/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('/public');?>/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('/public');?>/assets/css/app.css">
    <script src="<?php echo base_url('/public');?>/assets/js/jquery.min.js"></script>
    <style>
        #doc-modal-list .modal { border: none !important; }
        .widget-head { padding: 10px;padding-left: 0;margin-bottom: 20px}
        .taskCon, .taskConP{padding-left: 30px;}
        .taskCon p.p1{text-indent: 2em}
        .taskConDetaile{display: flex;margin-left: 30px;border-bottom: 1px solid #cac9c9;margin-bottom: 20px;}
        .taskConF1{flex: 1}
        .taskConP{color:#ef7439;margin-bottom: 1.5rem;}
        .scroll{ width: 70%; margin-left: 10%; height: 10px; background: #ccc;  position: relative; margin-top: 8px; }
        .bar{width: 10px;height: 20px;background: #6699ff;position: absolute;top: -5px;left: 0;cursor: pointer;}
        .mask{position: absolute;left: 0;top: 0;background: #6699ff;width: 0;height: 10px;}
        .maskSpan{position: absolute;right: -42px;top: -8px;}
        .TCimg1{width: 30px}
        .taskConF1A{width: 33%;text-align: center;float: left;color: #838FA1;cursor: pointer;}
        .taskConFW1{width: 100px}
        .taskConF2{flex: 2}
        .taskConDetaile2, .taskConDetaile3{display: flex;}
        .Stime{margin-right: 10px;width: 70px}
        .taskConDetaile3 div{flex: 1;padding-right: 10px;}
        .taskConDetaile4{border-bottom: 0px}
        .taskConFW1S{padding-left: 28px}
        .taskConDetaile5{border-bottom: 1px solid #cac9c9;}
        .theme-white .widget-head {border-bottom: 1px solid #bbbbbb;}
        .chatItem{width: 95%;border-bottom: 1px solid #eee;padding-bottom: 12px;}
        .chatItem p span{float: right;}
        .chatItem div a{margin-left: 30px;cursor: pointer;}
        .taskConF1A label{position: relative;}
        .taskConF1A label input:first-child{width: 0;height: 0;position: absolute;opacity: 0;background:none;}
        .xiaozu a img{width: 20px}
        .xiaozu a{margin-right: 20px}
        .xiaozu2{padding-left: 32px;}
        .taskConXiao{border-bottom: 1px solid #e6e3e3;padding-bottom: 15px;margin-bottom: 15px;}
        .bianji{margin-right: 15%;float: right;color: #0e90d2}
        /* 新1 */
        .am-btn2{padding: .4em;}
        input[type=file] {display: inline-block;}
        .ziliaoDiv{text-align: left;padding:20px;padding-top: 0}
        .ziliaoDiv div{display: flex;padding: 6px 0}
        .ziliaoDiv span{display: inline-block;width: 80px}
        .ziliaoDiv input, .ziliaoDiv textarea{flex: 1}

    </style>
</head>

<body data-type="widgets">
    <script src="<?php echo base_url('/public');?>/assets/js/theme.js"></script>
    <div class="am-g tpl-g">

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="container-fluid am-cf">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-user-secret page-header-heading-icon"></span> 任务管理 <small> - 任务详情 </small></div>
                    <p class="page-header-description"> 这里是任务详情 </p>
                </div>
            </div>
  
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class=" am-cf">项目实施</div>
                            </div>
                            <div class="taskCon taskConXiao">

                                <h4>项目人员</h4>
                                <?php foreach($group as $val):?>
                                    <?php if($val['state'] =='1'):?>
                                        <?php if($val['type'] =='1'):?>
                                            <p class="p1">第一负责人： <a><?php echo get_username($val['user_id']);?> </a>
                                                <?php if($_SESSION['users']['user_id'] == $val['user_id']):?>
                                                 <a href="<?php echo site_url('/Project/Commission/'.$id);?>">
                                                    <input class="bianji" type="button" value="项目提成">
                                                </a> 
                                              
                                                <?php endif;?>
                                            </p>

                                        <?php elseif($val['type'] =='2'):?>
                                            <p class="p1">技术负责人： <a><?php echo get_username($val['user_id']);?></a></p>
                                        <?php elseif($val['type'] =='3'):?>

                                            <p class="p1">项目审核人： <a><?php echo get_username($val['user_id']);?></a></p>
                                        <?php elseif($val['type'] =='4'):?>
                                            <p class="p1">项目负责人: <a><?php echo get_username($val['user_id']);?></a></p>

                                        <?php elseif($val['type'] =='5'):?>
                                            <p class="p1">现场人员： <a><?php echo get_username($val['user_id']);?></a></p>
                                        <?php endif;?>
                                    <?php endif;?>
                                <?php endforeach;?>
                              

                                <p class="p1 xiaozu">其他成员：
                                    <?php foreach($group as $val):?>
                                        <?php if($val['type'] == '6'):?>
                                            <a>
                                                <?php echo get_username($val['user_id']);?> 
                                                <img class="showBian" style="display: none" onclick="deleteFun(this,'<?php echo $val['id']?>')" src="<?php echo base_url('/public');?>/assets/img/shanchu.svg"> 
                                            </a>
                                        <?php endif;?>
                                    <?php endforeach;?>
                                    <!-- 任务类型。1第一编织人。 2技术负责人。 3 审核人。4项目负责人。5现场人员 6其他职员 -->
                                    <input class="bianji" id="bianji1" type="button" value="编辑">
                                </p>
                                <div class="p1 xiaozu xiaozu2 clearfix showBian selectConA" style="display: none">添加小组人员：
                                    <div class="selectCon1" style="display: inline-block;">
                                        <select data-am-selected="{searchBox: 0}" style="display: none;" class="am-field-valid">
                                          <option value="">选择工作</option>
                                          <option value="2">技术负责人</option>
                                          <option value="3">项目审核人</option>
                                          <option value="4">项目负责人</option>
                                          <option value="5">现场人员</option>
                                          <option value="6">其他成员</option>
                                        <!-- 1第一编织人。 2技术负责人。 3 审核人。4项目负责人。5现场人员 6其他职员 -->
                                        </select>
                                    </div>
                                    <div class="selectCon2" style="display: inline-block;">
                                        <select data-am-selected="{searchBox: 1}" style="display: none;" class="am-field-valid">

                                          <option value="">选择人员</option>
                                          <?php foreach($users as $val):?>
                                          <option value="<?php echo $val['user_id'];?>"><?php echo $val['username'];?></option>
                                          <?php endforeach;?>
                                        
                                        </select>
                                    </div>

                                    <div onclick ="addONeFun(this,'id')" style="display: inline-block;margin-left: 10px"><input style="float: initial" class="bianji" type="button" value="确定添加"></div>
                                </div>
                            </div>
                            <div class="taskCon" id="ziliaoWrap">
                                <h4>项目节点</h4>
                                <!-- 1. 资料收集 -->

                         <div class="taskConDetaileWrapDDDDD">
                               <div class="taskConDetaileWrap">
                                <?php $record = $this->public_model->ret_task_type('h_project_type','project_id',$id,'type','1');?>

                                <div class="taskConDetaile">
                                    <div class="taskConF1">
                                        <p style="margin-bottom:5px">1. 资料收集</p>
                                        <?php $file = $this->public_model->select_where_many('h_project_record','project_id',$id,'type','1');?>
                                        <?php if(!empty($file)):?>
                                        <div class="taskConP">
                                            <?php foreach($file as $val):?>
                                               <a href="<?php echo base_url($val['file_path']);?>"><?php echo $val['file_name'];?></a> 
                                            <?php endforeach;?>
                                        </div>
                                        <?php endif;?>
                                    </div>
                                    <div class="taskConF1">
                                        <div class="scroll" id="scroll">
                                            <div data-id="1" class="bar barS" id="bar"> </div>
                                            <div class="mask" id="mask"></div>
                                            <?php if(!empty($record['completion'])):?>
                                            <span class="maskSpan"><?php echo $record['completion'];?>%</span>
                                            <?php else:?>
                                                 <span class="maskSpan">0%</span>
                                            <?php endif;?>
                                        </div>
                                    </div>
                                    <div class="taskConF1">
                                        <a class="taskConF1A"><?php echo $record['updataTime'];?></a>
                                        <a class="taskConF1A">
                                           <button
                                                dataId = '1'
                                                type="button"
                                                class="am-btn am-btn-primary am-btn2 ziliaoBtn"
                                            >
                                                上传资料
                                            </button>
                                        </a>
                                          <a class="taskConF1A">
                                            <img dataId="1" class="TCimg1 doc-prompt-toggle newLiuyan" src="<?php echo base_url('/public');?>/assets/img/liaotian.svg">
                                            <img class="TCimg1 TCimg123" src="<?php echo base_url('/public');?>/assets/img/jiantouxia.svg">
                                        </a>
                                    </div>
                                </div>
                                <?php $mess= $this->public_model->select_where_many_sort('h_project_message','project_id',$id,'type','1','create_time');?>
                                 <div class="taskConDetaile23Wrap" style="display:none">
                                        <?php foreach($mess as $v):?>
                                        <div class="taskConDetaile taskConDetaile23" style="border: none;margin-left: 65px;">
                                            <div class="chatItem chatItem3"> 
                                                <h4>留言人：<?php echo get_username($v['user_id']);?></h4>
                                                 <p>标题：<?php echo $v['title'];?>
                                                    <?php if(!empty($v['file_path'])):?>
                                                    <span>文件名： <a href="<?php echo base_url($v['file_path']);?>"><?php echo $v['title'];?></a> </span>
                                                    <?php endif;?>
                                                </p>
                                                <p>
                                                    留言内容：<?php echo $v['content']?>
                                                </p>
                                                <div>
                                                    <?php echo $v['create_time'];?>
                                                    <a data-id='<?php echo $v["m_id"];?>' class="doc-prompt-toggle newLiuyan">回复</a>
                                                </div>
                                                <p>
                                                    <?php $to = $this->public_model->select_where_many_sort('h_project_message','project_id',$id,'to_user_id',$v['m_id'],'create_time');?>

                                                    <?php if(!empty($to)):?>
                                                        <?php foreach($to as $v):?>
                                                        回复人：<?php echo get_username($v['user_id']);?><br>
                                                         <p style="color: red;">标题：<?php echo $v['title'];?>
                                                                <?php if(!empty($v['file_path'])):?>
                                                                <span>文件名： <a href="<?php echo base_url($v['file_path']);?>"><?php echo $v['title'];?></a> </span>
                                                                <?php endif;?>
                                                            </p>
                                                            <p style="color: red;">回复内容：<?php echo $v['content'];?></p> 
                                                            <?php echo $v['create_time'];?>
                                                        <?php endforeach;?>
                                                    <?php endif;?>
                                                </p>
                                            </div>
                                        </div>
                                        <?php endforeach;?>
                                </div>

                               </div>
                            </div> 


                                <!-- 2.现场查勘 -->
                         <div class="taskConDetaileWrapDDDDD">
                               <div class="taskConDetaileWrap">
                                 <?php $record = $this->public_model->ret_task_type('h_project_type','project_id',$id,'type','2');?>
                                <div class="taskConDetaile">
                                    <div class="taskConF1">
                                        <p>2.现场查勘</p>
                                         <?php $file1 = $this->public_model->select_where_many('h_project_record','project_id',$id,'type','2');?>
                                        <?php if(!empty($file1)):?>
                                        <div class="taskConP">
                                            <?php foreach($file1 as $val):?>
                                               <a href="<?php echo $val['file_path'];?>"><?php echo $val['file_name'];?></a> 
                                            <?php endforeach;?>
                                        </div>
                                        <?php endif;?>
                                    </div>
                                    <div class="taskConF1">
                                        <div class="scroll" id="scroll">
                                            <div data-id="2" class="bar barS" id="bar"> </div>
                                            <div class="mask" id="mask"></div>
                                           <?php if(!empty($record['completion'])):?>
                                            <span class="maskSpan"><?php echo $record['completion'];?>%</span>
                                            <?php else:?>
                                                 <span class="maskSpan">0%</span>
                                            <?php endif;?>
                                        </div>
                                    </div>
                                    <div class="taskConF1 ">
                                        <a class="taskConF1A"><?php echo $record['updataTime'];?></a>
                                        <a class="taskConF1A">
                                         <button
                                                dataId = '2'
                                                type="button"
                                                class="am-btn am-btn-primary am-btn2 ziliaoBtn"
                                            >
                                                上传资料
                                            </button>
                                            
                                        </a>
                                      
                                         <a class="taskConF1A">
                                            <img dataId="2" class="TCimg1 doc-prompt-toggle newLiuyan" src="<?php echo base_url('/public');?>/assets/img/liaotian.svg">
                                            <img class="TCimg1 TCimg123" src="<?php echo base_url('/public');?>/assets/img/jiantouxia.svg">
                                        </a>
                                    </div>
                                </div>
                               <?php $mess= $this->public_model->select_where_many_sort('h_project_message','project_id',$id,'type','2','create_time');?>
                                 <div class="taskConDetaile23Wrap" style="display:none">
                                        <?php foreach($mess as $v):?>
                                        <div class="taskConDetaile taskConDetaile23" style="border: none;margin-left: 65px;">
                                            <div class="chatItem chatItem3"> 
                                                <h4>留言人：<?php echo get_username($v['user_id']);?></h4>
                                                 <p>标题：<?php echo $v['title'];?>
                                                    <?php if(!empty($v['file_path'])):?>
                                                    <span>文件名： <a href="<?php echo base_url($v['file_path']);?>"><?php echo $v['title'];?></a> </span>
                                                    <?php endif;?>
                                                </p>
                                                <p>
                                                    留言内容：<?php echo $v['content']?>
                                                </p>
                                                <div>
                                                    <?php echo $v['create_time'];?>
                                                    <a data-id='<?php echo $v["m_id"];?>' class="doc-prompt-toggle newLiuyan">回复</a>
                                                </div>
                                                <p>
                                                    <?php $to = $this->public_model->select_where_many_sort('h_project_message','project_id',$id,'to_user_id',$v['m_id'],'create_time');?>

                                                    <?php if(!empty($to)):?>
                                                        <?php foreach($to as $v):?>
                                                        回复人：<?php echo get_username($v['user_id']);?><br>
                                                         <p style="color: red;">标题：<?php echo $v['title'];?>
                                                                <?php if(!empty($v['file_path'])):?>
                                                                <span>文件名： <a href="<?php echo base_url($v['file_path']);?>"><?php echo $v['title'];?></a> </span>
                                                                <?php endif;?>
                                                            </p>
                                                            <p style="color: red;">回复内容：<?php echo $v['content'];?></p> 
                                                            <?php echo $v['create_time'];?>
                                                        <?php endforeach;?>
                                                    <?php endif;?>
                                                </p>
                                            </div>
                                        </div>
                                        <?php endforeach;?>
                                </div>

                               </div>
                            </div> 

                                <!-- 3.报告编写步骤 -->
                                <div class="taskConDetaileWrapDDDDD">
                               <div class="taskConDetaileWrap">
                                 <?php $record = $this->public_model->ret_task_type('h_project_type','project_id',$id,'type','3');?>
                                <div class="taskConDetaile">
                                    <div class="taskConF1">
                                        <p>3.报告编写步骤</p>
                                         <?php $file2 = $this->public_model->select_where_many('h_project_record','project_id',$id,'type','3');?>
                                        <?php if(!empty($file2)):?>
                                        <div class="taskConP">
                                            <?php foreach($file2 as $val):?>
                                               <a href="<?php echo $val['file_path'];?>"><?php echo $val['file_name'];?></a> 
                                            <?php endforeach;?>
                                        </div>
                                        <?php endif;?>
                                    </div>
                                    <div class="taskConF1">
                                        <div class="scroll" id="scroll">
                                            <div data-id="3" class="bar barS" id="bar"> </div>
                                            <div class="mask" id="mask"></div>
                                             <?php if(!empty($record['completion'])):?>
                                            <span class="maskSpan"><?php echo $record['completion'];?>%</span>
                                            <?php else:?>
                                                 <span class="maskSpan">0%</span>
                                            <?php endif;?>
                                        </div>
                                    </div>
                                    <div class="taskConF1 ">
                                        <a class="taskConF1A"><?php echo $record['updataTime'];?></a>
                                        <a class="taskConF1A">
                                           
                                            <button
                                                dataId = '3'
                                                type="button"
                                                class="am-btn am-btn-primary am-btn2 ziliaoBtn"
                                            >
                                                上传资料
                                            </button>
                                        </a>
                                        
                                         <a class="taskConF1A">
                                            <img dataId="3" class="TCimg1 doc-prompt-toggle newLiuyan" src="<?php echo base_url('/public');?>/assets/img/liaotian.svg">
                                            <img class="TCimg1 TCimg123" src="<?php echo base_url('/public');?>/assets/img/jiantouxia.svg">
                                        </a>
                                    </div>
                                </div>
                                  <?php $mess= $this->public_model->select_where_many_sort('h_project_message','project_id',$id,'type','3','create_time');?>
                                 <div class="taskConDetaile23Wrap" style="display:none">
                                        <?php foreach($mess as $v):?>
                                        <div class="taskConDetaile taskConDetaile23" style="border: none;margin-left: 65px;">
                                            <div class="chatItem chatItem3"> 
                                                <h4>留言人：<?php echo get_username($v['user_id']);?></h4>
                                                 <p>标题：<?php echo $v['title'];?>
                                                    <?php if(!empty($v['file_path'])):?>
                                                    <span>文件名： <a href="<?php echo base_url($v['file_path']);?>"><?php echo $v['title'];?></a> </span>
                                                    <?php endif;?>
                                                </p>
                                                <p>
                                                    留言内容：<?php echo $v['content']?>
                                                </p>
                                                <div>
                                                    <?php echo $v['create_time'];?>
                                                    <a data-id='<?php echo $v["m_id"];?>' class="doc-prompt-toggle newLiuyan">回复</a>
                                                </div>
                                                <p>
                                                    <?php $to = $this->public_model->select_where_many_sort('h_project_message','project_id',$id,'to_user_id',$v['m_id'],'create_time');?>

                                                    <?php if(!empty($to)):?>
                                                        <?php foreach($to as $v):?>
                                                        回复人：<?php echo get_username($v['user_id']);?><br>
                                                         <p style="color: red;">标题：<?php echo $v['title'];?>
                                                                <?php if(!empty($v['file_path'])):?>
                                                                <span>文件名： <a href="<?php echo base_url($v['file_path']);?>"><?php echo $v['title'];?></a> </span>
                                                                <?php endif;?>
                                                            </p>
                                                            <p style="color: red;">回复内容：<?php echo $v['content'];?></p> 
                                                            <?php echo $v['create_time'];?>
                                                        <?php endforeach;?>
                                                    <?php endif;?>
                                                </p>
                                            </div>
                                        </div>
                                        <?php endforeach;?>
                                </div>

                               </div>
                            </div> 

                                <!-- 4. 报告审核 -->
                                <div class="taskConDetaileWrapDDDDD">
                               <div class="taskConDetaileWrap">
                                 <?php $record = $this->public_model->ret_task_type('h_project_type','project_id',$id,'type','4');?>
                                <div class="taskConDetaile" style="border:none">
                                    <div class="taskConF1">
                                        <p>4. 报告审核</p>
                                         <?php $file3 = $this->public_model->select_where_many('h_project_record','project_id',$id,'type','4');?>
                                        <?php if(!empty($file3)):?>
                                        <div class="taskConP">
                                            <?php foreach($file3 as $val):?>
                                               <a href="<?php echo $val['file_path'];?>"><?php echo $val['file_name'];?></a> 
                                            <?php endforeach;?>
                                        </div>
                                        <?php endif;?>
                                    </div>
                                    <div class="taskConF1">
                                        <div class="scroll" id="scroll">
                                            <div data-id="4" class="bar barS" id="bar"> </div>
                                            <div class="mask" id="mask"></div>
                                            <?php if(!empty($record['completion'])):?>
                                            <span class="maskSpan"><?php echo $record['completion'];?>%</span>
                                            <?php else:?>
                                                 <span class="maskSpan">0%</span>
                                            <?php endif;?>
                                        </div>
                                    </div>
                                    <div class="taskConF1 ">
                                        <a class="taskConF1A"><?php echo $record['updataTime'];?></a>
                                        <a class="taskConF1A">
                                           <button
                                                dataId = '4'
                                                type="button"
                                                class="am-btn am-btn-primary am-btn2 ziliaoBtn"
                                            >
                                                上传资料
                                            </button>
                                        </a>
                                         <a class="taskConF1A">
                                            <img dataId="4" class="TCimg1 doc-prompt-toggle newLiuyan" src="<?php echo base_url('/public');?>/assets/img/liaotian.svg">
                                            <img class="TCimg1 TCimg123" src="<?php echo base_url('/public');?>/assets/img/jiantouxia.svg">
                                        </a>
                                    </div>
                                </div>
                                <?php if(!empty($edition)):?>
                                    <?php foreach($edition as $val):?>
                                    <div class="taskConDetaile taskConDetaile4">
                                        <div class="taskConF2 taskConDetaile2">
                                            <p class="taskConFW1 taskConFW1S">一审</p>
                                            <div class="taskConF1 taskConDetaile3">
                                                <span class="Stime"><?php echo $val['create_time'];?></span>
                                                <div><?php echo $val['situation'];?>
                                                </div>
                                            </div>
                                            <?php if($val['state'] == '0'):?>
                                            <p class="taskConFW1">未审核</p>
                                        <?php elseif($val['state'] == '1'):?>
                                            <p class="taskConFW1">审核通过</p>
                                        <?php else:?>
                                            <p class="taskConFW1">审核失败</p>
                                        <?php endif;?>
                                        </div>
                                        <div class="taskConF1 ">
                                           
                                        </div>
                                    </div>
                                        <?php endforeach;?>
                                    <?php endif;?>
                                     <?php $mess= $this->public_model->select_where_many_sort('h_project_message','project_id',$id,'type','4','create_time');?>
                                 <div class="taskConDetaile23Wrap" style="display:none">
                                        <?php foreach($mess as $v):?>
                                        <div class="taskConDetaile taskConDetaile23" style="border: none;margin-left: 65px;">
                                            <div class="chatItem chatItem3"> 
                                                <h4>留言人：<?php echo get_username($v['user_id']);?></h4>
                                                 <p>标题：<?php echo $v['title'];?>
                                                    <?php if(!empty($v['file_path'])):?>
                                                    <span>文件名： <a href="<?php echo base_url($v['file_path']);?>"><?php echo $v['title'];?></a> </span>
                                                    <?php endif;?>
                                                </p>
                                                <p>
                                                    留言内容：<?php echo $v['content']?>
                                                </p>
                                                <div>
                                                    <?php echo $v['create_time'];?>
                                                    <a data-id='<?php echo $v["m_id"];?>' class="doc-prompt-toggle newLiuyan">回复</a>
                                                </div>
                                                <p>
                                                    <?php $to = $this->public_model->select_where_many_sort('h_project_message','project_id',$id,'to_user_id',$v['m_id'],'create_time');?>

                                                    <?php if(!empty($to)):?>
                                                        <?php foreach($to as $v):?>
                                                        回复人：<?php echo get_username($v['user_id']);?><br>
                                                             <p style="color: red;">标题：<?php echo $v['title'];?>
                                                                <?php if(!empty($v['file_path'])):?>
                                                                <span>文件名： <a href="<?php echo base_url($v['file_path']);?>"><?php echo $v['title'];?></a> </span>
                                                                <?php endif;?>
                                                            </p>
                                                            <p style="color: red;">回复内容：<?php echo $v['content'];?></p> 
                                                            <?php echo $v['create_time'];?>
                                                        <?php endforeach;?>
                                                    <?php endif;?>
                                                </p>
                                            </div>
                                        </div>
                                        <?php endforeach;?>
                                </div>
                               </div>
                            </div>
                              

                                <!-- 5.报告出版 -->
                                 <?php $record = $this->public_model->ret_task_type('h_project_type','project_id',$id,'type','5');?>
                                <div class="taskConDetaile" >
                                    <div class="taskConF1">
                                        <p>5.报告出版</p>

                                    </div>
                                    <div class="taskConF1">
                                        <div class="scroll" id="scroll">
                                            <div data-id="5" class="bar barS" id="bar"> </div>
                                            <div class="mask" id="mask"></div>
                                            <?php if(!empty($record['completion'])):?>
                                            <span class="maskSpan"><?php echo $record['completion'];?>%</span>
                                            <?php else:?>
                                                 <span class="maskSpan">0%</span>
                                            <?php endif;?>
                                        </div>
                                    </div>
                                    <div class="taskConF1 ">
                                        <a class="taskConF1A"><?php echo $record['updataTime'];?></a>
                                    </div>
                                </div>

                                <!-- 6.报告归档 -->
                                <?php $record = $this->public_model->ret_task_type('h_project_type','project_id',$id,'type','6');?>
                                <div class="taskConDetaile" style="border: none;">
                                    <div class="taskConF1">
                                        <p>6.报告归档</p>
                                    </div>
                                    <div class="taskConF1">
                                        <div class="scroll" id="scroll">
                                            <div data-id="6" class="bar barS" id="bar"> </div>
                                            <div class="mask" id="mask"></div>
                                             <?php if(!empty($record['completion'])):?>
                                            <span class="maskSpan"><?php echo $record['completion'];?>%</span>
                                            <?php else:?>
                                                 <span class="maskSpan">0%</span>
                                            <?php endif;?>
                                        </div>
                                    </div>
                                    <div class="taskConF1 ">
                                        <a class="taskConF1A"><?php echo $record['updataTime'];?></a>
                                    </div>
                                </div>
                      <?php if(!empty($message)):?>
                                <?php foreach($message as $val):?>
                                <div class="taskConDetaile" style="border: none;margin-left: 42px;">
                                    <div class="chatItem"> 
                                        <h4>留言人：<?php echo get_username($val['user_id']);?></h4>
                                        <p>标题：<?php echo $val['title'];?>
                                            <?php if(!empty($val['file_path'])):?>
                                            <span>文件名： <a href="<?php echo base_url($val['file_path']);?>"><?php echo $val['title'];?></a> </span>
                                            <?php endif;?>
                                        </p>
                                        <p>
                                            留言内容：<?php echo $val['content'];?>
                                        </p>
                                        <div>
                                            <?php echo $val['create_time'];?>
                                            <a data-id='<?php echo $val["m_id"];?>' class="doc-prompt-toggle newLiuyan">回复</a>
                                        </div>
                                         <p>
                                            <?php $to = $this->public_model->select_where_many_sort('h_project_message','project_id',$id,'to_user_id',$val['m_id'],'create_time');?>

                                            <?php if(!empty($to)):?>
                                                <?php foreach($to as $v):?>
                                                回复人：<?php echo get_username($v['user_id']);?><br>
                                                    <p style="color: red;">标题：<?php echo $v['title'];?>
                                                        <?php if(!empty($v['file_path'])):?>
                                                        <span>文件名： <a href="<?php echo base_url($v['file_path']);?>"><?php echo $v['title'];?></a> </span>
                                                        <?php endif;?>
                                                    </p>
                                                    <p style="color: red;">回复内容：<?php echo $v['content'];?></p> 
                                                    <?php echo $v['create_time'];?>
                                                <?php endforeach;?>
                                            <?php endif;?>
                                            <!-- <span>提成：300元</span> -->
                                        </p>
                                    </div>
                                </div>
                            <?php endforeach;?>
                        <?php else:?>
                                <div class="taskConDetaile" style="border: none;margin-left: 42px;">
                                    <div class="chatItem"> 
                                        <h4>暂无内容</h4>
                                        
                                    </div>
                                </div>
                        <?php endif;?>


                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- 模态框 -->

            <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
              <div class="am-modal-dialog">
                <div class="am-modal-hd">留言板</div>
                <div class="am-modal-bd">
                  <input type="text" class="am-modal-prompt-input" placeholder="请输入内容">
                </div>
                <div class="am-modal-footer">
                  <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                  <span class="am-modal-btn" data-am-modal-confirm>提交</span>
                </div>
              </div>
            </div>

            <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">提示</div>
                    <div class="am-modal-bd">
                    你，确定要删除这条记录吗？
                    </div>
                    <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                    <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                    </div>
                </div>
            </div>

                    <!-- 新1 -->
            <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
                <div class="am-modal-dialog">
                  <div class="am-modal-hd">上传资料
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                  </div>
                  <div class="ziliaoDiv"> 
                    <div>
                          <input id="ziwenjian" type="file">
                    </div>
                    <div>
                        <span>文件名：</span>
                        <input id="ziwenming" type="text">
                    </div>
                    <div>
                        <span>描述：</span>
                        <textarea id="zimiaoshu"></textarea>
                    </div>
                    <div>
                          <button
                            data-am-modal-confirm
                            type="button"
                            style="margin:0 auto"
                            id='shangchaungBtn'
                            class="am-btn am-btn-primary ">
                            确认上传
                        </button>
                    </div>
                  </div>
                </div>
              </div>
             <!-- 模态框结束 -->
              <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-90">
                <div class="am-modal-dialog">
                  <div class="am-modal-hd">留言板
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                  </div>
                  <div class="ziliaoDiv2 ziliaoDiv"> 
                    <div>
                          <span>附件：</span>
                          <input id="ziwenjian2" type="file">
                    </div>
                    <div>
                        <span>标题：</span>
                        <input id="ziwenming2" type="text">
                    </div>
                    <div>
                        <span>内容：</span>
                        <textarea id="zimiaoshu2"></textarea>
                    </div>
                    <div>
                            <!-- 新2 -->
                        <button
                            data-am-modal-confirm
                            type="button"
                            style="margin:0 auto"
                            id='shangchaungBtn2'
                            class="am-btn am-btn-primary">
                            确认发表
                        </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>





    </div>
    </div>
    <script src="<?php echo base_url('/public');?>/assets/js/amazeui.min.js"></script>
    <script src="<?php echo base_url('/public');?>/assets/js/app.js"></script>
    <script> 
        // 上传资料 新2
        $('#ziliaoWrap').find('.ziliaoBtn').add('#doc-confirm-toggle').on('click', function () {
            var nowID = $(this).attr('dataId');
                
            $('#doc-modal-1').modal({
                relatedTarget: this,
                onConfirm: function (options) {
                },
                closeOnConfirm: false,
                onCancel: function () { 
                }
            });

            document.getElementById('shangchaungBtn').onclick = function(){
                upZiliaoFun(this);
            }
            function upZiliaoFun(obj){
                var ziwenjian = $(obj).parentsUntil('ziliaoDiv').find('#ziwenjian')[0].files[0];//文件
                var ziwenming = $(obj).parentsUntil('ziliaoDiv').find('#ziwenming')[0].value;//文件名
                var zimiaoshu = $(obj).parentsUntil('ziliaoDiv').find('#zimiaoshu')[0].value;//文件描述  
                var nowId = nowID;
                if(ziwenjian == undefined){
                    $.post("<?php echo site_url('/Project/uploadProjectFile')?>", { file_name: ziwenming,content:zimiaoshu,type:nowId,project_id:'<?php echo $id;?>' }, function (result) {
                        if(result == 1){
                            alert('新增成功！');
                            window.location.reload()
                        }else{
                                 alert('新增失败！');
                                window.location.reload()
                        }
                    });
                }else{
                    var formData = new FormData();
                    formData.append("file",ziwenjian);
                    formData.append("file_name",ziwenming);
                    formData.append("content",zimiaoshu);
                    formData.append("type",nowId);
                    formData.append("project_id",'<?php echo $id;?>');
                    $.ajax({ 
                        url : "<?php echo site_url('/Project/uploadProjectFile');?>", 
                        type : 'POST', 
                        data : formData, 
                        processData : false, 
                        // 告诉jQuery不要去设置Content-Type请求头
                        contentType : false,
                        beforeSend:function(){
                            console.log("正在进行，请稍候");
                        },
                        success : function(res) { 
                            if(res == 1){
                                alert('新增成功！');
                                window.location.reload()
                            }else{
                                 alert('新增失败！');
                                window.location.reload()
                            }
                        }, 
                        error : function(res) { 
                            console.log("error");
                        } 
                    });
                }

            }
        }); 

 
        // 显示既有进度条进度
        window.onload = function(){
            var scroll = document.getElementsByClassName('scroll');
            for (var i = scroll.length - 1; i >= 0; i--) {
                var maskSpanNum = parseInt(scroll[i].getElementsByClassName('maskSpan')[0].innerHTML);
                var mask = scroll[i].getElementsByClassName('mask')[0];
                var barS = scroll[i].getElementsByClassName('barS')[0];
                var widthAll = scroll[i].offsetWidth;
                mask.style.width = barS.style.left = (widthAll*maskSpanNum)/100 - barS.offsetWidth + 'px';
            }

            // 编辑项目人员
            var bianji1 = document.getElementById('bianji1');
            $('#bianji1').click(function(){
                if(document.getElementsByClassName('showBian')[0].style.display == 'none'){
                    this.value = '取消编辑';
                    $('.showBian').css('display','inline-block');
                }else{
                    $('.showBian').css('display','none');
                    this.value = '编辑';
                }
                
            })

        }
        // 删除人员（新1）
        function deleteFun(obj,id1){
            var objNowPP = obj.parentNode.parentNode;
            var objNowP = obj.parentNode;
            var shanid = confirm("确认删除！");
            if (shanid) {
                $.post("<?php echo site_url('/Project/del_projectGroup')?>", { id: id1 }, function (result) {
                    if(result == 1){
                        alert('操作成功！');
                        objNowPP.removeChild(objNowP);
                    }
                });
            }
        }
        // 添加小组人员
        function addONeFun(obj,id){
            var selectCon1 = $(obj).parentsUntil('selectConA').find('.selectCon1 select').val();
            var selectCon2 = $(obj).parentsUntil('selectConA').find('.selectCon2 select').val();
            $.post("<?php echo site_url('/Project/add_project_group')?>", { project_id: '<?php echo $project['id'];?>',type:selectCon1,user_id:selectCon2 }, function (result) {
                if(result == 1){
                    alert('新增成功！');
                    window.location.reload()
                }else{
                    alert('新增失败！');
                    window.location.reload()
                }
            });


        }

  

        // 拖动进度条        
        $('.barS').mousedown(function(event){
          var barleft = 0;
          var event = event || window.event;
          var leftVal = event.clientX - this.offsetLeft;
          var that = this;
          var scroll = this.parentNode;
          var mask = scroll.querySelectorAll('.mask')[0];
          var maskSpan = scroll.querySelectorAll('.maskSpan')[0];
           // 拖动一定写到 down 里面才可以
          document.onmousemove = function(event){
            var event = event || window.event;
            barleft = event.clientX - leftVal;     
            if(barleft < 0)
              barleft = 0;
            else if(barleft > scroll.offsetWidth - that.offsetWidth)
              barleft = scroll.offsetWidth - that.offsetWidth;
            mask.style.width = barleft +'px';
            that.style.left = barleft + "px";
            maskSpan.innerHTML =  parseInt(barleft/(scroll.offsetWidth-that.offsetWidth) * 100) + "%";
            //防止选择内容--当拖动鼠标过快时候，弹起鼠标，bar也会移动，修复bug
            window.getSelection ? window.getSelection().removeAllRanges() : document.selection.empty();


            // 拖动向后发送数据(新1)
            var baifen = parseInt(barleft/(scroll.offsetWidth-that.offsetWidth) * 100);//百分比数据
            that.onmouseup = function(){
                document.onmousemove = null; //弹起鼠标不做任何操作
                var rJindu = confirm("确认修改进度！");
                var nowId = that.getAttribute('data-id');
                if (rJindu) {
                    alert('进度'+baifen);
                    $.post("<?php echo site_url('/Project/editProjectType')?>", { project_id: '<?php echo $project['id'];?>',type:nowId,completion:baifen }, function (result) {
                        // console.log(result);
                        if(result == 1){
                            alert('修改成功！');
                            window.location.reload()
                        }else{
                            alert('修改失败！');
                            window.location.reload()
                        }
                    });
                }
                
            }
            
          }
        })

        // 显示模态框
        // $(function() {
        //   $('.doc-prompt-toggle').on('click', function() {
        //     var nowThis = this;
        //     $('#my-prompt').modal({
        //       relatedTarget: this,
        //       onConfirm: function(e) {
        //         var content = e.data;
        //         var toid = nowThis.getAttribute('data-id');
        //         if(content == ''){
        //             alert('你还没有输入内容！');
        //             window.location.reload()
        //         }
        //         $.post("<?php echo site_url('/UserCenter/add_message')?>", { project_id: '<?php echo $project['id'];?>',content:content,to_user_id:toid }, function (result) {
        //             console.log(result);
        //              if(result == 1){
        //                 alert('留言成功！');
        //                 window.location.reload()

        //              }else{
        //                 alert('留言失败！');
        //              }
        //         });
        //       },
        //       onCancel: function(e) {
        //         alert('不想说!');
        //       }
        //     });
        //   });
        // });

        $('#ziliaoWrap').find('.newLiuyan').add('#doc-confirm-toggle').on('click', function () {
            var nowID = $(this).attr('dataId');
            var toId = $(this).attr('data-id');
                
            $('#doc-modal-90').modal({
                relatedTarget: this,
                onConfirm: function (options) {
                },
                closeOnConfirm: false,
                onCancel: function () { 
                }
            });

            document.getElementById('shangchaungBtn2').onclick = function(){
                upZiliaoFun(this);
            }
            function upZiliaoFun(obj){
                var ziwenjian2 = $(obj).parentsUntil('ziliaoDiv2').find('#ziwenjian2')[0].files[0];//文件
                var ziwenming2 = $(obj).parentsUntil('ziliaoDiv2').find('#ziwenming2')[0].value;//标题
                var zimiaoshu2 = $(obj).parentsUntil('ziliaoDiv2').find('#zimiaoshu2')[0].value;//文件描述  
                var nowId = nowID;
                var toid = toId;

                // console.log('附件：'+ziwenjian2);
                // console.log('标题：'+ziwenming2);
                // console.log('内容：'+zimiaoshu2);
                // console.log('id'+nowId);
                // console.log('toid'+toid);
                var formData = new FormData();
                formData.append("file",ziwenjian2);
                formData.append("title",ziwenming2);
                formData.append("content",zimiaoshu2);
                formData.append("type",nowId);
                formData.append("project_id",'<?php echo $id;?>');
                formData.append("toid",toid);
                $.ajax({ 
                    url : "<?php echo site_url('/UserCenter/add_message')?>", 
                    type : 'POST', 
                    data : formData, 
                    processData : false, 
                    // 告诉jQuery不要去设置Content-Type请求头
                    contentType : false,
                    beforeSend:function(){
                        console.log("正在进行，请稍候");
                    },
                    success : function(res) { 
                        if(res == 1){
                            alert('新增成功！');
                            window.location.reload()
                        }else{
                             alert('新增失败！');
                            window.location.reload()
                        }
                    }, 
                    error : function(res) { 
                        console.log("error");
                    } 
                });
            }
        });
        // 点击展开各个阶段
        $('.TCimg123').click(function(){
            if ($(this).parentsUntil(".taskConDetaileWrapDDDDD").find(".taskConDetaile23Wrap").css("display") == 'none') {
                $(this).parentsUntil(".taskConDetaileWrapDDDDD").find(".taskConDetaile23Wrap").css("display","block");
            }else{
                $(this).parentsUntil(".taskConDetaileWrapDDDDD").find(".taskConDetaile23Wrap").css("display","none");
            }        
            

        })
  </script>

</body>

</html>