<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Amaze UI Admin index Examples</title>
        <meta name="description" content="这是一个 index 页面">
        <meta name="keywords" content="index">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="<?php echo base_url('/public');?>/assets/i/favicon.png">
        <link rel="apple-touch-icon-precomposed" href="<?php echo base_url('/public');?>/assets/i/app-icon72x72@2x.png">
        <meta name="apple-mobile-web-app-title" content="Amaze UI" />
        <link rel="stylesheet" href="<?php echo base_url('/public');?>/assets/css/amazeui.min.css" />
        <link rel="stylesheet" href="<?php echo base_url('/public');?>/assets/css/amazeui.datatables.min.css" />
        <link rel="stylesheet" href="<?php echo base_url('/public');?>/assets/css/app.css">
        <script src="<?php echo base_url('/public');?>/assets/js/jquery.min.js"></script>
        <style>
        #doc-modal-list .modal {
        border: none !important;
        }
        </style>
    </head>
    <body data-type="widgets">
        <script src="<?php echo base_url('/public');?>/assets/js/theme.js"></script>
        <div class="am-g tpl-g">
            <!-- 内容区域 -->
            <div class="tpl-content-wrapper">
                <div class="container-fluid am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-weixin page-header-heading-icon"></span> 个人中心 <small> - 任务管理 </small></div>
                        <p class="page-header-description">我当年就读的中学，有一中型的图书馆。我那时不大会看书，只是常常利用午休时间去那里翻翻杂志。《世界知识》上有很多好看的彩色照片。一种航空杂志也曾让我浮想连翩 。</p>
                    </div>
                </div>
                <div class="row-content am-cf">
                    <div class="am-panel-group" id="accordion3">
                        <div class="am-panel am-panel-default">
                            <div class="am-panel-hd" style="background:#fdc">
                                <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion3', target: '#do-not-say-3'}">
                                任务列表
                                </h4>
                            </div>
                            <div id="do-not-say-3" class="am-panel-collapse am-collapse am-in">
                                <div class="am-panel-bd">
                                    <form method="get" action="<?php echo site_url('/Task/search_task');?>">
                                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                            <div class="am-form-group tpl-table-list-select">
                                                <select name="task_status">
                                                    <option value="">完成状态</option>
                                                    
                                                    <option value="1">已完成</option>
                                                    <option value="2">未完成</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                                <input type="text" name="sear" class="am-form-field ">
                                                <span class="am-input-group-btn">
                                                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                                    
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                    <form action="<?php echo site_url('/UserCenter/edit_user_info');?>" method="post" enctype="multipart/form-data">
                                        <div class="am-scrollable-horizontal">
                                            <!-- <table  class="am-table am-table-compact am-table-striped tpl-table-black "> -->
                                            <table class="am-table  am-text-nowrap am-table-striped pl-table-black">
                                                <!-- <table class="am-table am-table-bordered am-table-striped am-text-nowrap"> -->
                                               <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>年度</th>
                                    <th>合同号</th>
                                    <th>任务纪录</th>
                                    <th>项目名称</th>
                                    <th>项目地点</th>
                                    <th>联系人</th>
                                    <th>联系人地址</th>
                                    <th>联系人号码</th>
                                    <th>签订人</th>
                                    <th>第一负责人</th>
                                    <th>是否军工</th>
                                    <th>技术板块</th>
                                    <th>行业类别</th>
                                    <th>服务类型</th>
                                    <th>完成状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="doc-modal-list">
                                <?php foreach($lists as $val):?>
                                <tr class="trClass">
                                    <td class="am-text-middle"><?php echo $val['id'];?></td>
                                    <td class="groupName am-text-middle"><?php echo $val['year'];?></td>
                                    <td class="groupName am-text-middle"><?php echo $val['contract_number'];?></td>
                                    <td class="am-text-middle">
                                                    <div class="tpl-table-black-operation">
                                                        <a class="modal" data-id="<?php echo $val['id'];?>" href="<?php echo site_url('/Project/song_censorship/'.$val['id']);?>" <i class="am-icon-pencil"></i> 送审 </a>
                                                        <a class="modal" data-id="<?php echo $val['id'];?>" href="<?php echo site_url('/Project/xiu_censorship/'.$val['id']);?>" <i class="am-icon-pencil"></i> 修订 </a>
                                                        <a class="modal" data-id="<?php echo $val['id'];?>" href="<?php echo site_url('/Project/zong_censorship/'.$val['id']);?>" <i class="am-icon-pencil"></i> 最终 </a>
                                                      
                                                    </div>
                                    </td>
                                    <td class="groupName am-text-middle">
                                        <a href="<?php echo site_url('/Project/project_info/'.$val['id']);?>"><?php echo mb_substr($val['title'],'0','20');?>...</a></td>
                                    <td class="groupName am-text-middle"><?php echo $val['province'].$val['city'].$val['town'];?></td>
                                    <td class="groupName am-text-middle"><?php echo get_customer_name($val['contacts']);?></td>
                                    <td class="groupName am-text-middle"><?php echo get_customer_address($val['c_id']);?></td>
                                    <td class="groupName am-text-middle"><?php echo $val['phone'];?></td>
                                    <td class="aliasName am-text-middle"><?php echo get_username($val['sign_user']);?></td>
                                    <td class="groupName am-text-middle"><?php echo get_username($val['responsible_user']);?></td>
                                    <td class="groupName am-text-middle"><?php if($val['military'] == 1){echo "是";}else{echo "否";}?></td>
                                    <td class="groupName am-text-middle"><?php echo get_industryTitle($val['technology_id']);?></td>
                                    <td class="groupName am-text-middle"><?php echo get_industryTitle($val['service_id']);?></td> 
                                    <td class="groupName am-text-middle"><?php echo get_industryTitle($val['industry_id']);?></td> 
                                    <?php if($val['project_status'] == '1'):?>
                                        <td>已完成</td>
                                    <?php else:?>
                                        <td>未完成</td>

                                    <?php endif;?>

                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <?php if($val['project_status'] == '0'):?>
                                                <a href="<?php echo site_url('/Project/editProjectState/').$val['id'];?>" ><i class="am-icon-pencil"></i> 确认完成  </a>
                                            <?php else:?>
                                                <a href="<?php echo site_url('/Project/project_info/').$val['id'];?>" ><i class="am-icon-pencil"></i> 查看详情  </a>
                                            <?php endif;?>
                                         
                                        </div>
                                    </td>
                                </tr>
                                <?php endforeach;?>

                            </tbody>
                                            </table></div>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                
                </div>




                <script src="<?php echo base_url('/public');?>/assets/js/amazeui.min.js"></script>
                <script src="<?php echo base_url('/public');?>/assets/js/app.js"></script>
            </body>
        </html>