<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>客户列表 - 诚实安全内部管理系统</title>

    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<?php echo base_url('public/');?>/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo base_url('public/');?>/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="<?php echo base_url('public/');?>/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('public/');?>/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('public/');?>/assets/css/app.css">
    <script src="<?php echo base_url('public/');?>/assets/js/jquery.min.js"></script>



    <style>
        #doc-modal-list .modal {
            border: none !important;
        }
    </style>
</head>

<body data-type="widgets">
    <script src="<?php echo base_url('public/');?>/assets/js/theme.js"></script>
    <div class="am-g tpl-g">


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="container-fluid am-cf">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-user-secret page-header-heading-icon"></span> 客户管理 <small> - 单位列表 </small></div>
                    <p class="page-header-description"> 客户列表而已～～～～～～～～～～～～ </p>
                </div>
            </div>
            <div class="row-content am-cf">

                <div class="row">·
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">文章列表</div>

                            </div>
                            <div class="widget-body  am-fr">


                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" class="am-btn am-btn-default am-btn-success"><a data-am-modal="{target: '#addUser',closeViaDimmer: 0, width:600}"><span class="am-icon-plus"></span> 新增</a></button>
                                                <!-- 非管理人员 无此按钮-->
                                                <button type="button" class="am-btn am-btn-default am-btn-warning"><a style="color:#fff" ><span class="am-icon-archive"></span> 审核 </a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                    <div class="am-form-group tpl-table-list-select">
                                        <select data-am-selected="{btnSize: 'sm'}">
                                    
                                        <option value="option1">行业类别选择</option>
                                        <?php foreach($industry as $v):?>
                                        <option value="<?php echo $v['id'];?>"><?php echo $v['cate_name'];?></option>
                                        <?php endforeach;?>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field ">
                                        <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                                </span>
                                    </div>
                                </div>

                                <!-- <div class="am-u-sm-12 "> -->
                                <div class="am-scrollable-horizontal">
                                    <!-- <table  class="am-table am-table-compact am-table-striped tpl-table-black "> -->
                                    <!-- <table class="am-table  am-text-nowrap am-table-striped pl-table-black"> -->
                                    <table class="am-table am-table-bordered am-table-striped am-text-nowrap">

                                        <thead>
                                            <tr>
                                                <th>客户编号</th>
                                                <th>名称</th>
                                                <th>本公司对口人</th>
                                                <th>行业</th>
                                                <th>地址</th>
                                                <th>邮编</th>
                                                <th>省</th>
                                                <th>市</th>
                                                <th>县</th>
                                                <th>电话1</th>
                                                <th>电话2</th>
                                                <th>传真</th>
                                                <th>税号</th>
                                                <th>开户银行</th>
                                                <th>账号</th>
                                                <th>电子邮件</th>
                                                <th>网址</th>
                                                <th>其它</th>

                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="doc-modal-list">
                                            <?php foreach($lists as $val):?>
                                            <?php 
                                                $query = $this->public_model->select_where('h_customer_contacts','company_id',$val['id'],'');
                                            
                                            ?>
                                            <tr class="gradeX">
                                               
                                                <td class="am-text-middle"><?php echo $val['id'];?></td>
                                                <td class="am-text-middle"><?php echo $val['title'];?></td>
                                                <td class="am-text-middle">
                                                    <div class="tpl-table-black-operation">

                                                        <a class="modal" data-id="<?php echo $val['id'];?>" data-am-modal="{target: '#userInfomation-modal', closeViaDimmer: 0, width:600}" style="color:aqua "> <i class="am-icon-pencil"></i> 新增加 </a>
                                                        <?php foreach($query as $v):?>
                                                        <a class="modal1" data-id="<?php echo $v['id'];?>" data-am-modal="{target: '#userInfomation-modal1', closeViaDimmer: 0, width:600}" style="color:aqua "> 📱<?php echo $v['name'];?> </a>
                                                        <?php endforeach;?>

                                                    </div>
                                                </td>
                                                <td class="am-text-middle"><?php echo get_industryTitle($val['industry']);?></td>
                                                <td class="am-text-middle"><?php echo $val['address'];?></td>
                                                <td class="am-text-middle"><?php echo $val['postcode'];?></td>
                                                <td class="am-text-middle"><?php echo $val['province'];?></td>
                                                <td class="am-text-middle"><?php echo $val['city'];?></td>
                                                <td class="am-text-middle"><?php echo $val['area'];?></td>
                                                <td class="am-text-middle"><?php echo $val['phone1'];?></td>
                                                <td class="am-text-middle"><?php echo $val['phone2'];?></td>
                                                <td class="am-text-middle"><?php echo $val['facsimile'];?></td>
                                                <td class="am-text-middle"><?php echo $val['tax_on'];?></td>
                                                <td class="am-text-middle"><?php echo $val['open_bank'];?></td>
                                                <td class="am-text-middle"><?php echo $val['bank_account'];?></td>
                                                <td class="am-text-middle"><?php echo $val['email'];?></td>

                                                <td class="am-text-middle"><?php echo $val['http'];?></td>
                                                <td class="am-text-middle"><?php echo $val['remarks'];?></td>   



                                                <td class="am-text-middle">
                                                    <div class="tpl-table-black-operation">

                                                        <a href="javascript:;" data-id="1" class="delete tpl-table-black-operation-del">
                                                                    <i class="am-icon-trash"></i> 删除
                                                        </a>                                                     
                                                    </div>
                                                </td>
                                            </tr>
                                            <?php endforeach;?>
                                            <!-- more data -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="am-u-lg-12 am-cf">

                                    <div class="am-fr">
                                      <?php echo $pages;?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!-- 弹框开始 -->
        
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="addUser">
            <div class="am-modal-dialog" style="background:rgb(58, 65, 68) !important ">
                <div class="am-modal-hd" style="color:aliceblue  !important"> 新增
                    <a href="javascript: void(0)" class="am-close am-close-spin" style="color:#fff !important" data-am-modal-close>&times;</a>
                </div>
                <div class="am-modal-bd">

                    <iframe src="<?php echo site_url('/Customer/add_customer')?>"  target="_self" style="height:100vh;width:100%;overflow-y: scroll;"> </iframe>

                </div>
            </div>
        </div>



        <div class="am-modal am-modal-no-btn" tabindex="-1" id="userInfomation-modal">
            <div class="am-modal-dialog" style="background:rgb(58, 65, 68) !important ">
                <div class="am-modal-hd" style="color:aliceblue  !important"> 对口人
                    <a href="javascript: void(0)" class="am-close am-close-spin" style="color:#fff !important" data-am-modal-close>&times;</a>
                </div>
                <div class="am-modal-bd">

                    <iframe src=""  target="_self" style="height:70vh;width:100%;overflow-y: scroll;"> </iframe>

                </div>
            </div>
        </div>

        <script>
            $(function () {
                $('#doc-modal-list').find('.modal')
                    .on('click', function () {

                        $('iframe').attr('src', '<?php echo site_url("/Customer/add_customer_user/")?>' + $(this).attr("data-id"));
                        
                    });
            });
        </script>

        <div class="am-modal am-modal-no-btn" tabindex="-1" id="userInfomation-modal1">
            <div class="am-modal-dialog" style="background:rgb(58, 65, 68) !important ">
                <div class="am-modal-hd" style="color:aliceblue  !important"> 对口人
                    <a href="javascript: void(0)" class="am-close am-close-spin" style="color:#fff !important" data-am-modal-close>&times;</a>
                </div>
                <div class="am-modal-bd">

                    <iframe src=""  target="_self" style="height:70vh;width:100%;overflow-y: scroll;"> </iframe>

                </div>
            </div>
        </div>
        <script>
            $(function () {
                $('#doc-modal-list').find('.modal1')
                    .on('click', function () {

                        $('iframe').attr('src', '<?php echo site_url("/Customer/edit_customer_user/")?>' + $(this).attr("data-id"));
                        
                    });
            });
        </script>



        <div class="am-modal am-modal-confirm" tabindex="-1" id="my-delete-confirm">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">删除提示</div>
                <div class="am-modal-bd">
                    你，确定要删除这条记录吗？
                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                    <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                </div>
            </div>
        </div>


        <script>
            // TODO 删除
            $(function () {
                $('#doc-modal-list').find('.delete').add('#doc-confirm-toggle').
                    on('click', function () {
                        $('#my-delete-confirm').modal({
                            relatedTarget: this,
                            onConfirm: function (options) {
                                var $link = $(this.relatedTarget).one('a');
                                // var msg = $link.length ? '你要删除的链接 ID 为 ' + $link.data('id') :
                                //     'mull';
                                // alert(msg);

                                $.post("<?php echo site_url('/Customer/edit_customer_status');?>", { id: $link.data('id'),state:'0' }, function (result) {
                                    // $("span").html(result);
                                   // console.log(result)
                                    if(result == 1){
                                        window.location.reload()
                                    }else if(result == 3){
                                        alert('您没有删除客户权限，请联系管理员！');
                                        window.location.reload()
                                    }else{
                                        alert('删除失败！');
                                        window.location.reload()
                                    }
                                });
                            },
                            closeOnConfirm: false,
                            onCancel: function () {
                                // alert('onCancel');
                            }
                        });
                    });
            });
        </script>

        <div class="am-modal am-modal-confirm" tabindex="-1" id="my-check-confirm">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">过审核提示</div>
                <div class="am-modal-bd">
                    你，确定该职员通过审核吗？
                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                    <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                </div>
            </div>
        </div>


        <script>
            // TODO 删除
            $(function () {
                $('#doc-modal-list').find('.check').add('#doc-confirm-toggle').
                    on('click', function () {
                        $('#my-check-confirm').modal({
                            relatedTarget: this,
                            onConfirm: function (options) {
                                var $link = $(this.relatedTarget).one('a');
                                var msg = $link.length ? '该职员 ID 为 ' + $link.data('id') :
                                    'mull';
                                alert(msg);

                                $.post("URL", { id: $link.data('id') }, function (result) {
                                    // $("span").html(result);
                                    window.location.reload()
                                });
                            },
                            closeOnConfirm: false,
                            onCancel: function () {
                                // alert('onCancel');
                            }
                        });
                    });
            });
        </script>



        <!-- 弹框结束 -->





    </div>
    </div>
    <script src="<?php echo base_url('public/');?>/assets/js/amazeui.min.js"></script>
    <script src="<?php echo base_url('public/');?>/assets/js/app.js"></script>


</body>

</html>