<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">     
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <base href="">
    <link rel="icon" type="image/png" href="<?php echo base_url('public/');?>/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo base_url('public/');?>/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="<?php echo base_url('public/');?>/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="<?php echo base_url('public/');?>/assets/css/amazeui.min.css" />
    <!-- <link rel="stylesheet" href="<?php echo base_url('public/');?>/assets/css/amazeui.datatables.min.css" /> -->
    <link rel="stylesheet" href="<?php echo base_url('public/');?>/assets/css/app.css">
    <!-- <link rel="stylesheet" href="<?php echo base_url('public/');?>/assets/css/font-awesome.min.css"> -->
    <script src="<?php echo base_url('public/');?>/assets/js/jquery.min.js"></script>

</head>

<body data-type="index">
    <script src="<?php echo base_url('public/');?>/assets/js/theme.js"></script>
   

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-weixin page-header-heading-icon"></span> 最新通告 <small>  </small></div>
                        <p class="page-header-description">诚实内部管理系统</p>
                    </div>
                    <!-- <div class="am-u-lg-3 tpl-index-settings-button">
                        <button type="button" class="page-header-button"><span  style="color:aqua" class=" am-icon-angellist"></span> 知道了 </button>
                    </div> -->
                </div>

            </div>

         
        </div>


    <!-- <script src="<?php echo base_url('public/');?>/assets/js/amazeui.min.js"></script> -->
    <script src="<?php echo base_url('public/');?>/assets/js/amazeui.datatables.min.js"></script>
    <!-- <script src="<?php echo base_url('public/');?>/assets/js/dataTables.responsive.min.js"></script> -->
    <script src="<?php echo base_url('public/');?>/assets/js/app.js"></script>

</body>

</html>