<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="keywords" content="index">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="<?php echo base_url('/public');?>/assets/i/favicon.png">
        <link rel="apple-touch-icon-precomposed" href="<?php echo base_url('/public');?>/assets/i/app-icon72x72@2x.png">
        <meta name="apple-mobile-web-app-title" content="Amaze UI" />
        <link rel="stylesheet" href="<?php echo base_url('/public');?>/assets/css/amazeui.min.css" />
        <link rel="stylesheet" href="<?php echo base_url('/public');?>/assets/css/app.css">
        <script src="<?php echo base_url('/public');?>/assets/js/jquery-1.7.2.min.js"></script>
        <script src="<?php echo base_url('/public');?>/assets/js/amazeui.min.js"></script>
        <style>
            label{color: #e6e6e6}
             fieldset {
                padding: 2.15em 1.325em 1.95em;
            } 
            .baiseDiv option{color: #555 !important;}
            .baiseDiv select{color: #fff !important;}
            .theme-black .tpl-form-line-form .am-form-label{color: #fff}
        </style>
    </head>
    <body data-type="widgets">
        <script src="<?php echo base_url('/public');?>/assets/js/theme.js"></script>

            <div class="container-fluid am-cf ">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-user-secret page-header-heading-icon"></span> 管理员 | 用户 <small> - 用户列表 - 👨‍💼 &nbsp; 安评师 </small></div>
                    <p class="page-header-description">这个列表是用用来。dosage 这个列表是用用来。dosage 这个列表是用用来。dosage 这个列表是用用来。dosage</p>
                </div>
            </div>
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="am-u-sm-12">
                        <?php if(!empty($users)):?>
                            <form action="<?php echo site_url('/Member/evaluate');?>" method="post" class="am-form tpl-form-line-form" data-am-validator>
                                <fieldset>
                                    <input type="hidden" name="user_id" value="<?php echo $users['user_id'];?>">
                                    <input type="hidden" name="type" value="edit">

                                  
                                    <div class="am-form-group">
                                        <label for="doc-vld-age-2">证书编号：</label>
                                        <input type="number" class=""  id="doc-vld-age-2" name="certificate_num" value="<?php echo $users['certificate_num'];?>" />
                                    </div>
                                    <div class="am-form-group baiseDiv">
                                        <label for="doc-select-1">级别</label>
                                        <select  id="doc-select-1" name="level">
                                            <option value="一级" <?php if($users['level'] == '一级'){echo "selected";}?>>一级</option>
                                            <option value="二级"  <?php if($users['level'] == '二级'){echo "selected";}?>>二级</option>
                                            <option value="三级"  <?php if($users['level'] == '三级'){echo "selected";}?>>三级</option>
                                        </select>
                                        <span class="am-form-caret"></span>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-age-2">从业编号：</label>
                                        <input type="number" class=""  id="doc-vld-age-2" name="practitioners_num" value="<?php echo $users['practitioners_num'];?>" />
                                    </div>
                                    <div class="am-form-group baiseDiv">
                                        <label for="doc-select-1">注册性质</label>
                                        <select id="doc-select-1" name="reg_nature">
                                            <option value="专职">专职</option>
                                            <option value="兼职">兼职</option>
                                        </select>
                                        <span class="am-form-caret"></span>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">单位名称: </label>
                                        <input type="text" id="doc-vld-name-2" name="company_name" value="<?php echo $users['company_name'];?>" />
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">注册期限起: </label>
                                        <input type="text" name="reg_start" class="am-form-field" placeholder="<?php echo $users['reg_start'];?>" data-am-datepicker="{theme: 'success'}" readonly/>
                                    </div>
                                     <div class="am-form-group">
                                        <label for="doc-vld-name-2">注册期限止: </label>
                                        <input type="text" name="reg_end" class="am-form-field" placeholder="<?php echo $users['reg_end'];?>" data-am-datepicker="{theme: 'success'}" readonly/>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">认定专业1: </label>
                                        <input type="text" name="one_cognizance_major" id="doc-vld-name-2" value="<?php echo $users['one_cognizance_major'];?>" />
                                    </div>
                                     <div class="am-form-group">
                                        <label class="am-form-label">认定依据: </label>
                                        <input type="text" name="one_cognizance_basis" value="<?php echo $users['one_cognizance_basis'];?>" >
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">认定专业2: </label>
                                        <input type="text" id="doc-vld-name-2" name="tow_cognizance_major" value="<?php echo $users['tow_cognizance_major'];?>" />
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">认定专业3: </label>
                                        <input type="text" id="doc-vld-name-2" name="three_cognizance_major"  value="<?php echo $users['three_cognizance_major'];?>" />
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">AP注册密码: </label>
                                        <input type="text" id="doc-vld-name-2" name="ap_regPassword" value="<?php echo $users['ap_regPassword'];?>" />
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">AP再教育密码: </label>
                                        <input type="text" id="doc-vld-name-2" name="ap_education_pwd" value="<?php echo $users['ap_education_pwd'];?>" />
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-ta-2">备注：</label>
                                        <textarea id="doc-vld-ta-2" minlength="10" maxlength="100" name="remark"><?php echo $users['remark'];?></textarea>
                                    </div>

                                    <button class="am-btn am-btn-secondary" type="submit">提交</button>
                                </fieldset>
                            </form>
                        <?php else:?>
                             <form action="<?php echo site_url('/Member/evaluate');?>" method="post" class="am-form tpl-form-line-form" data-am-validator>
                                <fieldset>
                                    <input type="hidden" name="user_id" value="<?php echo $userid;?>">
                                    <input type="hidden" name="type" value="insert">

                                  
                                    <div class="am-form-group">
                                        <label for="doc-vld-age-2">证书编号：</label>
                                        <input type="number" class=""  id="doc-vld-age-2" name="certificate_num" value="" />
                                    </div>
                                    <div class="am-form-group baiseDiv">
                                        <label for="doc-select-1">级别</label>
                                        <select  id="doc-select-1" name="level">
                                            <option value="一级">一级</option>
                                            <option value="二级">二级</option>
                                            <option value="三级">三级</option>
                                        </select>
                                        <span class="am-form-caret"></span>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-age-2">从业编号：</label>
                                        <input type="number" class=""  id="doc-vld-age-2" name="practitioners_num" value="" />
                                    </div>
                                    <div class="am-form-group baiseDiv">
                                        <label for="doc-select-1">注册性质</label>
                                        <select id="doc-select-1" name="reg_nature">
                                            <option value="专职">专职</option>
                                            <option value="兼职">兼职</option>
                                        </select>
                                        <span class="am-form-caret"></span>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">单位名称: </label>
                                        <input type="text" id="doc-vld-name-2" name="company_name" />
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">注册期限起: </label>
                                        <input type="text" name="reg_start" class="am-form-field" placeholder="日历组件" data-am-datepicker="{theme: 'success'}" readonly/>
                                    </div>
                                     <div class="am-form-group">
                                        <label for="doc-vld-name-2">注册期限止: </label>
                                        <input type="text" name="reg_end" class="am-form-field" placeholder="日历组件" data-am-datepicker="{theme: 'success'}" readonly/>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">认定专业1: </label>
                                        <input type="text" name="one_cognizance_major" id="doc-vld-name-2" />
                                    </div>
                                     <div class="am-form-group">
                                        <label class="am-form-label">认定依据: </label>
                                        <input type="text" name="one_cognizance_basis" >
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">认定专业2: </label>
                                        <input type="text" id="doc-vld-name-2" name="tow_cognizance_major" />
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">认定专业3: </label>
                                        <input type="text" id="doc-vld-name-2" name="three_cognizance_major" />
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">AP注册密码: </label>
                                        <input type="text" id="doc-vld-name-2" name="ap_regPassword" />
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-name-2">AP再教育密码: </label>
                                        <input type="text" id="doc-vld-name-2" name="ap_education_pwd" />
                                    </div>
                                    <div class="am-form-group">
                                        <label for="doc-vld-ta-2">备注：</label>
                                        <textarea id="doc-vld-ta-2" minlength="10" maxlength="100" name="remark"></textarea>
                                    </div>

                                    <button class="am-btn am-btn-secondary" type="submit">提交</button>
                                </fieldset>
                            </form>
                        <?php endif;?>
                        </div>
                    </div>
                </div>
            </div>
                

    </body>
</html>