<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<?php echo base_url('public/');?>/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo base_url('public/');?>/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="<?php echo base_url('public/');?>/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('public/');?>/assets/css/app.css">
    <script src="<?php echo base_url('public/');?>/assets/js/jquery-1.7.2.min.js"></script>
    <style>
        label {
            color: #e6e6e6
        }

    </style>
</head>

<body data-type="widgets">
    <script src="<?php echo base_url('public/');?>/assets/js/theme.js"></script>

    <div class="container-fluid am-cf ">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-user-secret page-header-heading-icon"></span> 管理员 | 用户 <small> - 用户列表 - 📲 &nbsp;  详细通讯地址 </small></div>
            <p class="page-header-description">这个列表是用用来。dosage 这个列表是用用来。dosage 这个列表是用用来。dosage 这个列表是用用来。dosage</p>
        </div>
    </div>
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="am-u-sm-12">
                    <?php if(!empty($users)):?>
                    <form action="<?php echo site_url('/Member/user_communication');?>" method="post" class="am-form tpl-form-line-form" data-am-validator>
                        <button class="am-btn am-btn-secondary" type="submit">提交</button>
                            <fieldset>

                                    <div class="am-g">
                                            <div class="am-u-sm-6">
                                                    <input type="hidden" name="user_id" value="<?php echo $users['user_id'];?>">
                                                    <input type="hidden" name="type" value="edit">
                                                    
                                                <div class="am-form-group">
                                                    <label for="doc-vld-name-2">姓名: </label>
                                                    <input type="text" name="username" value="<?php echo $users['username'];?>" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                </div>
                                                <div class="am-form-group">
                                                    <label for="doc-vld-name-2">手机1: </label>
                                                    <input type="text" name="phone1" value="<?php echo $users['phone1'];?>" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                </div>
                    
                                                <div class="am-form-group">
                                                    <label for="doc-vld-name-2">手机2: </label>
                                                    <input type="text" name="phone2" value="<?php echo $users['phone2'];?>" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                </div>
                    
                    
                                                <div class="am-form-group">
                                                    <label for="doc-vld-name-2">QQ: </label>
                                                    <input type="text" name="qq" value="<?php echo $users['qq'];?>" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                </div>
                                            </div>
                                            <div class="am-u-sm-6">
                                                    <div class="am-form-group">
                                                            <label for="doc-vld-name-2">家庭地址: </label>
                                                            <input type="text" name="home_address" value="<?php echo $users['home_address'];?>" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                        </div>
                            
                                                        <div class="am-form-group">
                                                            <label for="doc-vld-name-2">紧急联系人: </label>
                                                            <input type="text" name="emergency" value="<?php echo $users['emergency'];?>" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                        </div>
                                                        <div class="am-form-group">
                                                            <label for="doc-vld-name-2">紧急联系人关系: </label>
                                                            <input type="text" name="emergency_relation" value="<?php echo $users['emergency_relation'];?>" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                        </div>
                                                        <div class="am-form-group">
                                                            <label for="doc-vld-name-2">紧急联系人电话: </label>
                                                            <input type="text" name="link_phone" value="<?php echo $users['link_phone'];?>" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                        </div>
                                            </div>
                                    </div>



                            
                        </fieldset>
                    </form>
                    <?php else:?>
                    <form action="<?php echo site_url('/Member/user_communication');?>" method="post" class="am-form tpl-form-line-form" data-am-validator>
                            <button class="am-btn am-btn-secondary" type="submit">提交</button>
                            <input type="hidden" name="user_id" value="<?php echo $userid;?>">
                            <input type="hidden" name="type" value="insert">
                            <fieldset>
                                    <div class="am-g">
                                            <div class="am-u-sm-6">
                                                    <div class="am-form-group">
                                                            <label for="doc-vld-name-2">姓名: </label>
                                                            <input type="text" name="username" value="" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                        </div>
                                                        <div class="am-form-group">
                                                            <label for="doc-vld-name-2">手机1: </label>
                                                            <input type="text" name="phone1" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                        </div>
                            
                                                        <div class="am-form-group">
                                                            <label for="doc-vld-name-2">手机2: </label>
                                                            <input type="text" name="phone2" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                        </div>
                            
                            
                                                        <div class="am-form-group">
                                                            <label for="doc-vld-name-2">QQ: </label>
                                                            <input type="text" name="qq" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                        </div>
                                            </div>
                                            <div class="am-u-sm-6">
                                                    <div class="am-form-group">
                                                            <label for="doc-vld-name-2">家庭地址: </label>
                                                            <input type="text" name="home_address" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                        </div>
                            
                                                        <div class="am-form-group">
                                                            <label for="doc-vld-name-2">紧急联系人: </label>
                                                            <input type="text" name="emergency" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                        </div>
                                                        <div class="am-form-group">
                                                            <label for="doc-vld-name-2">紧急联系人关系: </label>
                                                            <input type="text" name="emergency_relation" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                        </div>
                                                        <div class="am-form-group">
                                                            <label for="doc-vld-name-2">紧急联系人电话: </label>
                                                            <input type="text" name="link_phone" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                                                        </div>
                                            </div>
                                          </div>
                                    
            
                                        
                        </fieldset>
                    </form>

                    <?php endif;?>
                </div>
            </div>
        </div>
    </div>


</body>

</html>