<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<?php echo base_url('public/');?>/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo base_url('public/');?>/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="<?php echo base_url('public/');?>/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('public/');?>/assets/css/app.css">
    <script src="<?php echo base_url('public/');?>/assets/js/jquery-1.7.2.min.js"></script>
    <style>
        label {
            color: #e6e6e6
        }
    </style>
</head>

<body data-type="widgets">
    <script src="<?php echo base_url('public/');?>/assets/js/theme.js"></script>
 
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="am-u-sm-12">
                    <form action="<?php echo site_url('Member/add_user');?>" method="post" enctype="multipart/form-data" class="am-form tpl-form-line-form" data-am-validator>
                        
                            <button class="am-btn am-btn-secondary" type="submit">提交</button>
                        
                            <fieldset>
                            <div class="am-form-group">
                                <label for="doc-vld-name-2">成员组: </label>
                                <select data-am-selected="{searchBox: 1}" name="gid">
                                    <?php foreach($group as $val):?>
                                  <option value="<?php echo $val['gid'];?>"><?php echo $val['group_name'];?></option>
                                  <?php endforeach;?>
                                  <!-- <option value="b">Banana</option>
                                  <option value="o">Orange</option>
                                  <option value="m">Mango</option>
                                  <option value="phone">iPhone</option>
                                  <option value="im">iMac</option>  
                                  <option value="mbp">Macbook Pro</option> -->
                                </select>
                            </div>
                            <div class="am-form-group">
                                <label for="doc-vld-name-2">姓名: </label>
                                <input type="text" name="username" id="doc-vld-name-2" minlength="2" placeholder="输入姓名（至少 2 个字符）" required/>
                            </div>
                            <div class="am-form-group">
                                <label>头 像：</label>
                                <div class="am-u-end">
                                    <div class="wx_type_img">
                                        <!-- 图片实时预览 -->
                                        <div id="preview" class="preview"  >
                                            <img style="border-radius: 3px;width: 200px" src="<?php echo base_url('public/');?>/assets/img/logo.png" class="am-img-responsive cardView">
                                        </div>
                                        <br>
                                        <input type="file" id="imgUpload" name="img" onchange="previewFile()" class="am-btn am-btn-secondary">
                                    </div>
                                    <script>
                                        function previewFile() {
                                            var preview = document.querySelector('img');
                                            var file = document.querySelector('input[type=file]').files[0];
                                            console.log('fileqwee', file)
                                            var reader = new FileReader();
                                            reader.onloadend = function () {
                                                preview.src = reader.result;
                                            }
                                            if (file) {
                                                reader.readAsDataURL(file);
                                            } else {
                                                preview.src = "";
                                            }
                                        }
                                    </script>
                                    <span class="deleteImg am-text-center">删除</span>
                                    <span class="red" style="font-size: 14px;"> 提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb；</span>
                                </div>

                            </div>
                            <div class="am-form-group">
                                <label for="doc-vld-name-2">在职状态: </label>
                                <input type="text" name="incumbency" id="doc-vld-name-2" minlength="2" placeholder="输入在职状态" required/>
                            </div>

                            <div class="am-form-group">
                                <label for="doc-vld-name-2">专兼职: </label>
                                <select data-am-selected="{searchBox: 1}" name="part">
                                      <option value="1">专职</option>
                                      <option value="2">兼职</option>
                                    </select>
                            </div>


                            <div class="am-form-group">
                                <label for="doc-vld-name-2">身份证号码: </label>
                                <input type="text" name="id_card" id="doc-vld-name-2" minlength="2" placeholder="输入身份证号码" required/>
                            </div>

                            <div class="am-form-group">
                                <label for="doc-vld-name-2">出生年月(从身份证号取): </label>
                                <input type="text" name="birth_date" id="doc-vld-name-2" minlength="2"  required/>
                            </div>

                            <div class="am-form-group">
                                <label for="doc-vld-name-2">QQ: </label>
                                <input type="text" name="qq" id="doc-vld-name-2" minlength="2" placeholder="输入QQ号码" required/>
                            </div>
                            <div class="am-form-group">
                                <label for="doc-vld-name-2">电子邮件: </label>
                                <input type="text" name="email" id="doc-vld-name-2" minlength="2" placeholder="输入电子邮件" required/>
                            </div>
                            
                            <div class="am-form-group">
                                    <label for="doc-vld-name-2">最高学历: </label>
                                    <input type="text" name="education" id="doc-vld-name-2" minlength="2" placeholder="输入最高学历" required/>
                            </div>
                            <div class="am-form-group">
                                    <label for="doc-vld-name-2">入职时间: </label>
                                    <input type="text" name="entry_time" id="doc-vld-name-2" minlength="2" placeholder="输入 入职时间" required/>
                            </div>
                            <div class="am-form-group">
                                    <label for="doc-vld-name-2">转正时间: </label>
                                    <input type="text" name="employment" id="doc-vld-name-2" minlength="2" placeholder="输入转正时间" required/>
                            </div>
                            <div class="am-form-group">
                                    <label for="doc-vld-name-2">社保卡号: </label>
                                    <input type="text" name="social_security" id="doc-vld-name-2" minlength="2" placeholder="输入社保账号" />
                            </div>
                            <div class="am-form-group">
                                    <label for="doc-vld-name-2">是否本单位缴纳社保: </label>
                                    <!-- <input type="text" name="social_state" id="doc-vld-name-2" placeholder="" required/> -->
                                    <select data-am-selected="{searchBox: 0}" name="social_state">
                                            <option value="1">是</option>
                                            <option value="0">否</option>
                                          </select>
                            </div>
                            <div class="am-form-group">
                                    <label for="doc-vld-name-2">备注: </label>
                                    <input type="text" name="remarks" id="doc-vld-name-2" placeholder="输入备注信息" />
                            </div>
                            
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>