<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>城实后台管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<?php echo base_url('public/');?>assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo base_url('public/');?>assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="<?php echo base_url('public/');?>assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="<?php echo base_url('public/');?>assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('public/');?>assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('public/');?>assets/css/app.css">
    <script src="<?php echo base_url('public/');?>assets/js/jquery.min.js"></script>

</head>
<style type="text/css">
    .areachoose select{
        width: 30%!important;
    }
    [class*=am-u-]+[class*=am-u-]:last-child{
        float:left;!important;
    } 
    .mutic select{
        width: 65%!important;
        display: inline-block!important;
    }
</style>
<body data-type="widgets" style="background-color: transparent;overflow-y: hidden;">
    <script src="<?php echo base_url('public/');?>assets/js/theme.js"></script> 

        <!-- 内容区域 --> 


         
                        <div class="am-modal-dialog" style="width:600px;position: absolute;left: 50%;-webkit-transform:translateX(-50%);height:80vh!important;overflow-y: scroll;">
                            <div class="am-modal-hd" style="text-align: center;">修改项目</div>
                            <div class="am-modal-bd">
                   
                                
                                <form class="am-form tpl-form-line-form" enctype="multipart/form-data" action="<?php echo site_url('/Project/edit_project');?>" method="post" data-am-validator="" novalidate="novalidate">
                                    <div class="am-form-group am-form-icon am-form-feedback am-cf  am-form-error">
                                        

                                            <label class="am-u-sm-3 am-form-label">合同名称：<span class="red">*</span>：</label>
                                            <div class="am-u-sm-8">
                                                <select data-am-selected="{searchBox: 1,maxHeight: 100}" name="c_id">
                                                    <?php foreach($customer as $val):?>
                                                    <option value="<?php echo $val['contract_id'];?>" <?php if($val['contract_id'] == $project['c_id']){echo "selected";}?>><?php echo mb_substr($val['title'],'0','10');?>...</option>
                                                     <?php endforeach;?> 
                                                </select>
                                            </div>
                                           
                                            <label class="am-u-sm-3 am-form-label">项目名称<span class="red">*</span>：</label>
                                            <div class="am-u-sm-8">
                                                <input type="text"  class=" am-field-error am-active" placeholder="请输入项目名称，至少3个字" name="title" value="<?php echo $project['title'];?>" minlength="3" 
                                                     required >
                                            </div> 
    
                                            <label class="am-u-sm-3 am-form-label">项目地点<span class="red">*</span>：</label>
                                            <div class="am-u-sm-8 areachoose" >
                                                <select name="province" class="am-u-sm-4  am-u-md-4 am-u-lg-4" id="province" required>
                                                    <option value="<?php echo $project['province']?>" ><?php echo $project['province']?>省</option>
                                                </select>
                                                <select name="city" class="am-u-sm-4  am-u-md-4 am-u-lg-4" id="city" required>
                                                    <option value="<?php echo $project['city']?>"><?php echo $project['city']?>市</option>
                                                </select>
                                                <select name="town" class="am-u-sm-4  am-u-md-4 am-u-lg-4" id="town" required>
                                                    <option value="<?php echo $project['town']?>"><?php echo $project['town']?>区</option>
                                                </select>
                                            </div> 
                                            <label class="am-u-sm-3 am-form-label">联系人<span class="red">*</span>：</label>
                                            <div class="am-u-sm-8">
                                                <input type="text" class=" am-field-error am-active" placeholder="请输入签订人名称，至少2个字" name="contacts" minlength="2" 
                                                    value="<?php echo $project['contacts']?>" required >
                                            </div>
    
                                            <label class="am-u-sm-3 am-form-label" for="doc-vld-528">联系人电话<span class="red">*</span>：</label>
                                            <div class="am-u-sm-8">
                                                <input type="text" name="phone" value="<?php echo $project['phone']?>"  id="doc-vld-528" class=" am-field-error am-active js-pattern-mobile" placeholder="phone" required/>
                                            </div>
                                            <label class="am-u-sm-3 am-form-label">联系人地址<span class="red">*</span>：</label>
                                            <div class="am-u-sm-8">
                                                <input type="text" class=" am-field-error am-active" placeholder="请输入签订人名称，至少2个字" name="contacts_address" minlength="2" 
                                                    value="<?php echo $project['contacts_address']?>" required >
                                            </div>  
                                            <label class="am-u-sm-3 am-form-label">完成周期：</label>
                                            <div class="am-u-sm-8">
                                                <input type="text" class=" am-field-error am-active"  value="<?php echo $project['cycle']?>" placeholder="请输入完成周期" name="cycle" >
                                            </div>
                                            <label class="am-u-sm-3 am-form-label">附带要求：</label>
                                            <div class="am-u-sm-8">
                                                <input type="text" class=" am-field-error am-active"  value="<?php echo $project['requirement']?>" placeholder="请输入附带要求" name="requirement" >
                                            </div>
                                            <label class="am-u-sm-3 am-form-label">备注：</label>
                                            <div class="am-u-sm-8">
                                                <textarea type="text" class=" am-field-error am-active" placeholder="请输入备注" name="remarks" ><?php echo $project['remarks'];?></textarea>
                                            </div>
                                           
                                        </div>
                                        <div class="am-form-group">
                                            <label class="am-u-sm-3 am-form-label">是否军工<span class="red">*</span>：</label>
                                            <div class="am-u-sm-4" >
                                              <label class="am-radio-inline">
                                                <input type="radio"  value="1" name="military" <?php if($project['military'] == "1"){echo "checked";}?> required> 是
                                              </label>
                                              <label class="am-radio-inline">
                                                <input type="radio" name="military" value="0" <?php if($project['military'] == "0"){echo "checked";}?>> 否
                                              </label> 
                                            </div>
    
                                        </div>
                                        <div class="am-form-group mutic">
                                             <label class="am-u-sm-3 am-form-label" for="doc-select-1">技术板块<span class="red">*</span>：</label>
                                              <select id="doc-select-1" name="technology_id" class="am-u-sm-8" required>
                                                <option value="">-=请选择一项=-</option>
                                                <?php foreach($technology as $val):?>
                                                <option value="<?php echo $val['id'];?>" <?php if($project['technology_id'] == $val['id']){echo "selected";}?>><?php echo $val['cate_name'];?></option>
                                                <?php endforeach;?>
                                              </select>
                                              <span class="am-form-caret"></span>
                                        </div>
                                        <div class="am-form-group mutic">
                                              <label class="am-u-sm-3 am-form-label" for="doc-select-2">行业类别<span class="red">*</span>：</label>
                                              <select id="doc-select-2" name="industry_id" class="am-u-sm-8" required>
                                                <option value="">-=请选择一项=-</option>
                                                   <?php foreach($industry as $val):?>
                                                    <option value="<?php echo $val['id'];?>" <?php if($project['industry_id'] == $val['id']){echo "selected";}?>><?php echo $val['cate_name'];?></option>
                                                    <?php endforeach;?>
                                              </select>
                                              <span class="am-form-caret"></span>
                                        </div>
                                      
    
                                        <div class="am-form-group mutic">
                                              <label class="am-u-sm-3 am-form-label" for="doc-select-3">服务类型<span class="red">*</span>：</label>
                                              <select class="am-u-sm-8" id="doc-select-3" name="service_id" required>
                                                <option value="">-=请选择一项=-</option>
                                                <?php foreach($service as $val):?>
                                                <option value="<?php echo $val['id'];?>" <?php if($project['service_id'] == $val['id']){echo "selected";}?> ><?php echo $val['cate_name'];?></option>
                                                <?php endforeach;?>
                                              </select>
                                              <span class="am-form-caret"></span>
                                        </div>
                                    
                                  
                                         

                                    <div class="am-form-group am-btn-group-xs">
                                        <input type="hidden" name="id" value="<?php echo $project['id'];?>">
                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close="">取消</button>
                                        <button type="submit" class="am-btn am-btn-secondary">提交</button>
                                    </div>
                                </form>





                            </div>
                        </div> 
  
 
    <script src="<?php echo base_url('public/');?>assets/js/amazeui.min.js"></script>
    <script src="<?php echo base_url('public/');?>assets/js/amazeui.datatables.min.js"></script>
    <script src="<?php echo base_url('public/');?>assets/js/dataTables.responsive.min.js"></script>
    <script src="<?php echo base_url('public/');?>assets/js/app.js"></script>
    <!-- <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script> -->
    <script src="<?php echo base_url('public/');?>assets/js/area.js"></script>
    <script src="<?php echo base_url('public/');?>assets/js/select.js"></script>
</body>

</html>
 