<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>城实后台管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<?php echo base_url('public/')?>/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo base_url('public/')?>/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="<?php echo base_url('public/')?>/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="<?php echo base_url('public/')?>/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('public/')?>/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('public/')?>/assets/css/app.css">
    <script src="<?php echo base_url('public/')?>/assets/js/jquery.min.js"></script>

</head>
<style type="text/css">
    .areachoose select{
        width: 30%!important;
    }
    [class*=am-u-]+[class*=am-u-]:last-child{
        float:left;!important;
    } 
    .mutic select{
        width: 65%!important;
        display: inline-block!important;
    }
</style>
<body data-type="widgets">
    <script src="<?php echo base_url('public/')?>/assets/js/theme.js"></script>
    <div class="am-g tpl-g">



        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="row-content am-cf">

                <div class="container-fluid am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-user-secret page-header-heading-icon"></span> 管理员 <small> - 项目管理 </small></div>
                        <p class="page-header-description"> </p>
                    </div>
                </div>

                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf" style="color:#ccc"> 项目列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a style="color:#fff"data-am-modal="{target: '#addAccount'}"><span class="am-icon-plus"></span> 新增</a></button>

                                    <a href="javascript:;" class="am-btn am-btn-default am-btn-warning file">
                                        <span class="am-icon-archive"></span> 导入
                                        <input name="pics" type="file" id="projectFile" style="
                                        width: 100%;
                                        height: 100%;"/> 
                                    </a>
                                    <a href="<?php echo base_url();?>upload/xls/project.xlsx" class="am-btn am-btn-default am-btn-warning">导入模板</a>
                                    
                                </div>
                                <script>     
                                    $('#projectFile').change(function () {
            
                                        var URL = '<?php echo site_url("/Project/import_Project");?>'
            
                                        var formData = new FormData();
                                        formData.append('pics', $('#projectFile')[0].files[0]);
                                        $.ajax({
                                            url: URL,
                                            type: 'POST',
                                            // headers: headers,
                                            data: formData,
                                            processData: false,
                                            contentType: false,
                                            success: function (data) {
                                                alert(data);
                                                window.location.reload()
                                            }
                                        });
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                   
                    <div class="am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                            <input type="text" class="am-form-field ">
                            <span class="am-input-group-btn">
                            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                            </span>
                        </div>
                    </div>



                    <div class="am-modal am-modal-confirm" tabindex="-1" id="addAccount">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">新增项目</div>
                            <div class="am-modal-bd">
                                <!-- 本地生活 信息展示类 -->

                                <form class="am-form tpl-form-line-form" enctype="multipart/form-data" action="<?php echo site_url('/Project/add_project');?>" method="post" data-am-validator="" novalidate="novalidate">
                                    <div class="am-form-group am-form-icon am-form-feedback am-cf  am-form-error">
                                       
                                       
                                        <label class="am-u-sm-3 am-form-label">合同名称：<span class="red">*</span>：</label>
                                        <div class="am-u-sm-8">
                                            <select data-am-selected="{searchBox: 1,maxHeight: 100}" name="c_id">
                                                <?php foreach($customer as $val):?>
                                                <option value="<?php echo $val['contract_id'];?>"><?php echo mb_substr($val['title'],'0','10');?>...</option>
                                                 <?php endforeach;?> 
                                            </select>
                                        </div>
                                       
                                        <label class="am-u-sm-3 am-form-label">项目名称<span class="red">*</span>：</label>
                                        <div class="am-u-sm-8">
                                            <input type="text"  class=" am-field-error am-active" placeholder="请输入项目名称，至少3个字" name="title" minlength="3" 
                                                 required >
                                        </div> 

                                        <label class="am-u-sm-3 am-form-label">项目地点<span class="red">*</span>：</label>
                                        <div class="am-u-sm-8 areachoose" >
                                            <select name="province" class="am-u-sm-4  am-u-md-4 am-u-lg-4" id="province" required>
                                                <option value="" >省</option>
                                            </select>
                                            <select name="city" class="am-u-sm-4  am-u-md-4 am-u-lg-4" id="city" required>
                                                <option value="">市</option>
                                            </select>
                                            <select name="town" class="am-u-sm-4  am-u-md-4 am-u-lg-4" id="town" required>
                                                <option value="">区</option>
                                            </select>
                                        </div> 
                                        <label class="am-u-sm-3 am-form-label">联系人<span class="red">*</span>：</label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class=" am-field-error am-active" placeholder="请输入联系人名称，至少2个字" name="contacts" minlength="2" 
                                                value="" required >
                                        </div>

                                        <label class="am-u-sm-3 am-form-label" for="doc-vld-528">联系人电话<span class="red">*</span>：</label>
                                        <div class="am-u-sm-8">
                                            <input type="text" name="phone"  id="doc-vld-528" class=" am-field-error am-active js-pattern-mobile" placeholder="phone" required/>
                                        </div>
                                        <label class="am-u-sm-3 am-form-label">联系人地址<span class="red">*</span>：</label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class=" am-field-error am-active" placeholder="请输入联系人地址，至少2个字" name="contacts_address" minlength="2" 
                                                value="" required >
                                        </div>  
                                        <label class="am-u-sm-3 am-form-label">完成周期：</label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class=" am-field-error am-active" placeholder="请输入完成周期" name="cycle" >
                                        </div>
                                        <label class="am-u-sm-3 am-form-label">附带要求：</label>
                                        <div class="am-u-sm-8">
                                            <input type="text" class=" am-field-error am-active" placeholder="请输入附带要求" name="requirement" >
                                        </div>
                                        <label class="am-u-sm-3 am-form-label">备注：</label>
                                        <div class="am-u-sm-8">
                                            <textarea type="text" class=" am-field-error am-active" placeholder="请输入备注" name="remarks" ></textarea>
                                        </div>

                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">是否军工<span class="red">*</span>：</label>
                                        <div class="am-u-sm-4" >
                                          <label class="am-radio-inline">
                                            <input type="radio"  value="1" name="military" required> 是
                                          </label>
                                          <label class="am-radio-inline">
                                            <input type="radio" name="military" value="0"> 否
                                          </label> 
                                        </div>

                                    </div>
                                    <div class="am-form-group mutic">
                                         <label class="am-u-sm-3 am-form-label" for="doc-select-1">技术板块<span class="red">*</span>：</label>
                                          <select id="doc-select-1" name="technology_id" class="am-u-sm-8" required>
                                            <option value="">-=请选择一项=-</option>
                                            <?php foreach($technology as $val):?>
                                            <option value="<?php echo $val['id'];?>"><?php echo $val['cate_name'];?></option>
                                            <?php endforeach;?>
                                          </select>
                                          <span class="am-form-caret"></span>
                                    </div>
                                    <div class="am-form-group mutic">
                                          <label class="am-u-sm-3 am-form-label" for="doc-select-2">行业类别<span class="red">*</span>：</label>
                                          <select id="doc-select-2" name="industry_id" class="am-u-sm-8" required>
                                            <option value="">-=请选择一项=-</option>
                                               <?php foreach($industry as $val):?>
                                                <option value="<?php echo $val['id'];?>"><?php echo $val['cate_name'];?></option>
                                                <?php endforeach;?>
                                          </select>
                                          <span class="am-form-caret"></span>
                                    </div>
                                  

                                    <div class="am-form-group mutic">
                                          <label class="am-u-sm-3 am-form-label" for="doc-select-3">服务类型<span class="red">*</span>：</label>
                                          <select class="am-u-sm-8" id="doc-select-3" name="service_id" required>
                                            <option value="">-=请选择一项=-</option>
                                            <?php foreach($service as $val):?>
                                            <option value="<?php echo $val['id'];?>"><?php echo $val['cate_name'];?></option>
                                            <?php endforeach;?>
                                          </select>
                                          <span class="am-form-caret"></span>
                                    </div>
                                    
                                  
                                         

                                    <div class="am-form-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close="">取消</button>
                                        <button type="submit" class="am-btn am-btn-secondary">新增</button>
                                    </div>
                                </form>



                            </div>
                        </div>
                    </div>



                    <!-- 内容 开始 -->
                    <div class="am-u-sm-12 am-scrollable-horizontal">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>年度</th>
                                    <th>合同号</th>
                                    <th>项目名称</th>
                                    <th>项目地点</th>
                                    <th>联系人</th>
                                    <th>联系人地址</th>
                                    <th>联系人号码</th>
                                    <th>签订人</th>
                                    <th>签订时间</th> 
                                    <th>是否军工</th>
                                    <th>技术板块</th>
                                    <th>行业类别</th>
                                    <th>服务类型</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="doc-modal-list">
                                <?php foreach($lists as $val):?>
                                <tr class="trClass">
                                    <td class="am-text-middle"><?php echo $val['id'];?></td>
                                    <td class="groupName am-text-middle"><?php echo $val['year'];?></td>
                                    <td class="groupName am-text-middle"><?php echo $val['contract_number'];?></td>
                                    <td class="groupName am-text-middle"><?php echo mb_substr($val['title'],'0','20');?>...</td>
                                    <td class="groupName am-text-middle"><?php echo $val['province'].$val['city'].$val['town'];?></td>
                                    <td class="groupName am-text-middle"><?php echo $val['contacts'];?></td>
                                    <td class="groupName am-text-middle"><?php echo $val['contacts_address'];?></td>
                                    <td class="groupName am-text-middle"><?php echo $val['phone'];?></td>
                                    <td class="aliasName am-text-middle"><?php echo $val['sign_user'];?></td>
                                    <td class="groupName am-text-middle"><?php echo $val['sign_date'];?></td>
                                    <td class="groupName am-text-middle"><?php if($val['military'] == 1){echo "是";}else{echo "否";}?></td>
                                    <td class="groupName am-text-middle"><?php echo get_industryTitle($val['technology_id']);?></td>
                                    <td class="groupName am-text-middle"><?php echo get_industryTitle($val['service_id']);?></td> 
                                    <td class="groupName am-text-middle"><?php echo get_industryTitle($val['industry_id']);?></td> 
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a data-id="<?php echo site_url('/Project/edit_project/').$val['id'];?>" data-am-modal="{target: '#edit-project-modal', closeViaDimmer: 0, width:600}" class="modal"><i class="am-icon-pencil"></i> 编辑  </a>
                                         
                                            <a data-id="<?php echo $val['id'];?>" class="delete tpl-table-black-operation-del tpl-del"> <i class="am-icon-trash"></i> 删除 </a>

                                            <!-- <a data-id="<?php echo $val['id'];?>" class=" tpl-table-black-operation-del tpl-del"> <i class="am-icon-check"></i> 审核 </a> -->
                                        </div>
                                    </td>
                                </tr>
                                <?php endforeach;?>

                            </tbody>
                        </table>
                    </div>
                    <!-- 内容 结束 -->

                    <!-- 分页 开始 -->

                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                           <?php echo $pages;?>
                        </div>
                    </div>

                    <!-- 分页 结束 -->

                    <!-- 弹框开始 -->

                

                   
                    <div class="am-modal am-modal-no-btn" tabindex="-1" id="edit-project-modal">
                        <div class="am-modal-dialog" style="background:rgb(58, 65, 68) !important ">
                            <div class="am-modal-hd" style="color:aliceblue  !important"> 详细信息
                                <a href="javascript: void(0)" class="am-close am-close-spin" style="color:#fff !important" data-am-modal-close>&times;</a>
                            </div>
                            <div class="am-modal-bd">
            
                                <iframe src="" name="text" target="_self" style="height:100vh;width:100%;overflow-y: scroll;"> </iframe>
            
                            </div>
                        </div>
                    </div>
                    <script>
                            $(function () {
                                $('#doc-modal-list').find('.modal')
                                    .on('click', function () {
                                        $('iframe').attr('src', $(this).attr("data-id"));
                                    });
                            });
                        </script>



                    <div class="am-modal am-modal-confirm" tabindex="-1" id="my-delete-confirm">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">删除提示</div>
                            <div class="am-modal-bd">
                                你，确定要删除这条记录吗？
                            </div>
                            <div class="am-modal-footer">
                                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                            </div>
                        </div>
                    </div>


                    <script>
                        // TODO 删除
                        $(function () {
                            $('#doc-modal-list').find('.delete').add('#doc-confirm-toggle').
                                on('click', function () {
                                    $('#my-delete-confirm').modal({
                                        relatedTarget: this,
                                        onConfirm: function (options) {
                                            var $link = $(this.relatedTarget).one('a');
                                            // var msg = $link.length ? '你要删除的链接 ID 为 ' + $link.data('id') :
                                            //     'mull';
                                            // alert(msg);

                                            $.post("<?php echo site_url('/Project/del_project');?>", { id: $link.data('id'),de_state:'1' }, function (result) {
                                                // $("span").html(result);
                                                window.location.reload()
                                            });
                                        },
                                        closeOnConfirm: false,
                                        onCancel: function () {
                                            // alert('onCancel');
                                        }
                                    });
                                });
                        });
                    </script>

                    <!-- 弹框结束 -->

                </div>
            </div>
        </div>
    </div>
    <script src="<?php echo base_url('public/')?>/assets/js/amazeui.min.js"></script>
    <script src="<?php echo base_url('public/')?>/assets/js/amazeui.datatables.min.js"></script>
    <script src="<?php echo base_url('public/')?>/assets/js/dataTables.responsive.min.js"></script>
    <script src="<?php echo base_url('public/')?>/assets/js/app.js"></script>
    <!-- <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script> -->
    <script src="<?php echo base_url('public/')?>/assets/js/area.js"></script>
    <script src="<?php echo base_url('public/')?>/assets/js/select.js"></script>
</body>

</html>